@mixin fileIcon($icon) {
  content: '';
  height: 24px;
  width: 24px;
  display: inline-block;
  margin-right: 3px;
  margin-bottom: -6px;
  background-image: url(#{'../kth-style/img/kth-style/icons/#{$icon}.svg'});
  background-size: contain;
  background-repeat: no-repeat;
}

@mixin fileLinkIcon($suffix, $icon) {
  a[href$= ".#{$suffix}"]::before {
    @include fileIcon($icon)
  }
}

@mixin allFileLinkIcons {
  @include fileLinkIcon('xls', 'excel-file-black');
  @include fileLinkIcon('ppt', 'powerpoint-file-black');
  @include fileLinkIcon('doc', 'word-file-black');
  @include fileLinkIcon('pdf', 'pdf-file-white');
}