<div id="header" class="header  hasPrimaryHeader  hasSecondaryHeader">
  <div id="primaryHeader" class="primaryHeader">
    <div id="imageLogoBlock">
      {{{blocks.image}}}
    </div>
  </div>
</div>

<hr class="header-hr"/>
