<div id="footer" class="expandToContainerWidth">
<div class="tlc cid-1_202278 no-categories block columnSplitter  using4columns ">
<div class="columns">
<div class="column column1">
<div class="columnInner">        <div class="tlc cid-1_202279 no-categories block list links defaultTheme">
<h3>KTH</h3>  
<ul>
<li><span class="arrow"></span> <a href="http://www.kth.se/utbildning" class="standardLink">Utbildning</a></li>
<li><span class="arrow"></span> <a href="http://www.kth.se/forskning" class="standardLink">Forskning</a></li>
<li><span class="arrow"></span> <a href="http://www.kth.se/samverkan" class="standardLink">Samverkan</a></li>
<li><span class="arrow"></span> <a href="http://www.kth.se/om" class="standardLink">Om KTH</a></li>
<li><span class="arrow"></span> <a href="http://www.kth.se/student" class="standardLink">Student på KTH</a></li>
<li><span class="arrow"></span> <a href="https://intra.kth.se/" class="standardLink">KTH Intranät</a></li>
</ul>  </div>
 
</div>
</div>
<div class="column column2">
<div class="columnInner">        <div class="tlc cid-1_202289 no-categories block list links defaultTheme">
<h3>Organisation</h3>  
<ul>
<li><span class="arrow"></span> <a href="http://www.kth.se/kthb" class="standardLink">KTH Biblioteket</a></li>
<li><span class="arrow"></span> <a href="/om/organisation/centrumbildningar-1.11756" class="standardLink">Centrumbildningar</a></li>
<li><span class="arrow"></span> <a href="/om/organisation/kth-s-ledning-1.15618" class="standardLink">Rektor</a></li>
<li><span class="arrow"></span> <a href="/om/organisation/universitetsforvaltningen-1.3852" class="standardLink">Universitetsförvaltningen</a></li>
</ul>  </div>
 
</div>
</div>
<div class="column column3">
<div class="columnInner">        <div class="tlc cid-1_202317 no-categories block list links defaultTheme">
<h3>Tjänster</h3>  
<ul>
<li><span class="arrow"></span> <a href="/student/schema?programme=teilm-eng" class="standardLink">Schema</a></li>
<li><span class="arrow"></span> <a href="/student/kurser?programme=teilm-eng" class="standardLink">Kurser och program</a></li>
<li><span class="arrow"></span> <a href="https://www.kth.se/social/" class="standardLink">KTH Social</a></li>
<li><span class="arrow"></span> <a href="https://webmail.kth.se" class="standardLink">Webmail</a></li>
</ul>  </div>
 
</div>
</div>
<div class="column column4">
<div class="columnInner">            <div class="tlc cid-1_582059 no-categories block teaser   top  noMedia">      
<div class="teaserText">
<div class="teaserTextInner">      
<h2>Kontakt</h2>            
<div class="paragraphs">      <div class="tlc cid-1_582029 no-categories block list group defaultTheme">  
<div class="blockItem">           <div class="tlc cid-1_582057 no-categories block teaser   top  noMedia">      
<div class="teaserText">
<div class="teaserTextInner">              
<div class="paragraphs"> <p><strong>KTH</strong><br /> <em>SE-100 44, Stockholm, Sweden<br /> +46 8 790 60 00</em></p>
</div>
 
</div>
</div> </div></div>
<div class="blockItem">       <div class="tlc cid-1_582060 no-categories block separator space"><span class="separatorInner"></span></div> </div>
<div class="blockItem">       <div class="tlc cid-1_582032 no-categories block list links defaultTheme">  
<ul>
<li><span class="arrow"></span> <a href="/om/kontakt/kontaktformular-1.349416" class="standardLink">Kontakta KTH</a></li>
<li><span class="arrow"></span> <a href="/om/kontakt/faktura-och-betalning-1.2317" class="standardLink">Faktura och betalning</a></li>
<li><span class="arrow"></span> <a href="http://www.facebook.com/kth" class="standardLink">KTH på Facebook</a></li>
<li><span class="arrow"></span> <a href="http://www.youtube.com/kth" class="standardLink">KTH på YouTube</a></li>
</ul>  </div></div>   </div></div>
 
</div>
</div> </div>
 
</div>
</div>
</div> </div>
</div>