<div id="header" class="header hasPrimaryHeader hasSecondaryHeader">
    <div id="primaryHeader" class="primaryHeader">
        <div class="tlc cid-1_77257 no-categories block figure defaultTheme mainLogo">
            <div id="imageLogoBlock">
                <div class="tlc cid-1_77257 no-categories block figure defaultTheme mainLogo">
                    <div class="imageWrapper">
                        <a href="https://www.kth.se/">
                            <img src="//www.kth.se/polopoly_fs/1.77257!/KTH_Logotyp_RGB_2013-2.svg" alt="KTH:s logotyp" height="70" width="70">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="blockItemSeparator blockItemSeparatorIndex0">
            <span class="blockItemSeparatorInner"></span>
        </div>
        <div class="tlc cid-1_77262 no-categories block search  verbier  default-size">
            <form class="form search searchboxautocomplete" id="search-cBNvH-searchForm" method="GET" action="https://www.kth.se/search/search">
                <fieldset class="" id="search-cBNvH-searchFieldset">
                    <input type="hidden" class="parameters" name="l" value="sv">
                    <button title="Sök på alla KTH:s webbplatser" class="button filter" id="search-cBNvH-filterButton" type="button"></button>
                     <div class="q_field">
                         <div class="input">
                             <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span><input id="search-cBNvH-q" autocomplete="off" class="q ui-autocomplete-input" accesskey="s" type="text" size="26" maxlength="2048" name="q" placeholder="Sök bland kurser, personer, platser m m...">
                         </div>
                     </div>
                    <button title="Rensa inmatningsfältet" id="search-cBNvH-clearButton" type="button" class="button clear "></button>
                </fieldset>
                 <input type="submit" value="Sök" class="button search">
            </form>
        </div>
    </div>
    <div id="secondaryHeader" class="secondaryHeader">
       <div class="tlc cid-1_260060 no-categories block siteName">
           <a href="/">Välkommen till KTH</a>
       </div>
       <div class="blockItemSeparator blockItemSeparatorIndex0">
           <span class="blockItemSeparatorInner"></span>
       </div>
       <span class="tlc cid-1_272446 no-categories block link localeLink en-UK">
           <a href="https://www.kth.se/en" hreflang="en-UK" class="localeLink en-UK">KTH in English</a>
       </span>
    </div>
</div>
<hr id="headerHr" />
