/* Box sizing reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* END Box sizing reset */

body {
  background-color: #fff;
  margin: 0;
}

.MainMenu {
  max-width: 100rem;
  width: 100%;
  margin: 0 auto 1rem auto;
  padding: 1rem;
  align-items: center;
  font-size: 1.5em;
}

.MainMenu label {
  margin-top: 0;
}

.MainMenu .nav-item {
  text-align: left;
}

.MainMenu-Logo {
  display: inline-block;
}

.MainMenu-BrandName {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: middle;
}

.MainMenu-Form {
  justify-content: flex-end;
}

.Menu {
  max-width: 65rem;
  width: 100%;
  margin: 2rem auto;
}

.Menu a {
  margin-right: 2em;
}

.PageContent {
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.PageMenuContainer {
  max-width: 18rem;
  min-width: 18rem;

  .nav-item {
    background-color: #f4f4f4;

    &:hover {
      background-color: #fafafa;
    }
  }
}

.SectionMenuContainer {
  max-width: 15rem;
  width: 10%;
}

.PageBody {
  max-width: 70rem;
  width: 80%;
}


.PageMenu {
  
}

.PageMenu-Header {
  margin-top: 1rem;
  color: black;
  font-weight: 700!important;

  &-H2 {
    color: black;
    font-size: 1.2em;
    font-weight: 700!important;
    border-bottom: 2px solid #fff;
  }

  &-H3 {
    margin-top: 1rem;
    color: black;
    font-weight: 700!important;
    border-bottom: 1px solid #fff;
  }
}

.PageLink {
  font-weight: 500;
}

.SectionMenu-Header {
  padding: 0 0.6em 0.5em;
  border-bottom: 2px #ddd dashed;
}


.SectionLink {
  color: #777;
}


.HeroImage {
  width: 100%;
}

.ExampleNarrative ul {
  padding-left: 0;
  list-style-position: inside;
}

.ExampleNarrative li {
  margin-top: 0.5em;
}

/* Make sure we do not get jumps att beginning and end of animation */

.ExampleStage {
  border: 1px solid lightgray;
  background-color: #fdfdfd;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.3rem;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.ExampleStage > :first-child {
    margin-top: 0em;
}

.ExampleStage > :last-child {
    margin-bottom: 0em;
}

.ExampleStage :last-child .ExampleScene-Code:last-child {
    margin-bottom: -1rem;
}

.ExampleScene {
  margin: 1.5rem 0;
}

.ExampleScene .card {
  max-width: 320px;
}

.ExampleScene .nav-tabs {
  margin-bottom: 1rem;
}

.ExampleScene-Code {
  //font-family: Courier New, Courier, monospace;
  margin: 2.2rem -1rem;
} .ExampleScene-Code pre {
  margin: 0;
  z-index: 1;
}
pre[class*="language-"] > code {
  padding: 0.5rem 0.85rem;
}

pre[class*="language-"]:after {
  transform: rotate(1.7deg);
  box-shadow: 0px 13px 8px #eee;
  bottom: 1.25em;
  right: 1em;
  z-index: -1;
}
pre[class*="language-"]:before {
  transform: rotate(-1.7deg);
  box-shadow: 0px 13px 8px #eee;
  bottom: 1.25em;
  left: 1em;
  z-index: -1;
}

// .ExampleNarrative {
//   font-size: 1.1em;
// }

// .ExampleStage > h3 {
//   font-size: 1.1em;
//   margin-top: 2em;
//   border-bottom: 1px dashed #ddd;
//   padding-bottom: 0.5em;
// }

// .ExampleStage > h3:first-child {
//   margin-top: 0.5em;
// }

.modal {
  display: block;
}

.ModalFade-leave {
  transform: translateY(0);
  opacity: 1;
}

.ModalFade-leave-active {
  overflow: hidden;
  transition: transform 0.5s ease-in, opacity 0.4s ease-in;
}

.ModalFade-leave-end {
  transform: translateY(-150%);
  opacity: 0;
}

.ModalFade-enter {
  transform: translateY(-150%);
  opacity: 0;
}

.ModalFade-enter-active {
  transition: transform 0.5s ease-out, opacity 0.4s ease-in;
}

.ModalFade-enter-end {
  transform: translateY(0);
  opacity: 1;
}


.ModalBackdropFade-leave {
  opacity: 0.5;
}

.ModalBackdropFade-leave-active {
  overflow: hidden;
  transition: opacity 0.3s ease-in;
}

.ModalBackdropFade-leave-end {
  opacity: 0!important;
}

.ModalBackdropFade-enter {
  opacity: 0!important;
}

.ModalBackdropFade-enter-active {
  transition: opacity 0.3s ease-in;
}

.ModalBackdropFade-enter-end {
  opacity: 0.5;
}

/* Collapse */

.ExampleCollapseContainer {
  background-color: aliceblue;
  padding: 1rem;
}

.CollapseAnimation-leave {
}

.CollapseAnimation-leave-active {
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.CollapseAnimation-leave-end {
  height: 0!important;
  padding-top: 0;
  padding-bottom: 0;
}

.CollapseAnimation-enter {
  height: 0!important;
  padding-top: 0;
  padding-bottom: 0;
}

.CollapseAnimation-enter-active {
  transition: all 0.3s ease-in;
  overflow: hidden;
}

.CollapseAnimation-enter-end {
}

.ExampleLayout .row {
  margin-bottom: 0.5rem;
}
.ExampleLayout .row div {
  background-color: aliceblue;
  border: 1px solid #ddd;
  padding: 0.5rem;
}

/* Tab fadein */
.FadeIn-enter {
  opacity: 0;
}
.FadeIn-enter-active {
  overflow: hidden!important;
  transition: opacity 0.1s ease-in, height .2s ease-in-out, width .2s ease-in-out;
}

.FadeIn-enter-end {
  opacity: 1;
}

.UXComment {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 1.75em;
  margin-top: 3rem;
  padding: 1rem 0 0.2em;
  margin-bottom: 1.3rem;
}

.UXComment-Content :last-child {
  margin-bottom: 0em;
}

.UXComment::before {
  content: 'UX';
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: grey;
  color: #fafafa;
  padding: 0.4em 0.3em 0.2em;
  font-size: 0.85em;
  font-weight: bold;
  border: 0.1em solid #fff;
}

/* View State collapsables */
.ContentAnimation-leave {
}

.ContentAnimation-leave-active {
  overflow: hidden;
  transition: all 0.3s ease-in;
}

.ContentAnimation-leave-end {
  height: 0!important;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
}

.ContentAnimation-enter {
  height: 0!important;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
}

.ContentAnimation-enter-active {
  transition: all 0.3s ease-in;
  overflow: hidden;
}

.ContentAnimation-enter-end {
}
