<div id="breadcrumbs" class="breadcrumbs">
    <a href="https://www.kth.se">KTH</a>
    <span class="separator">/</span>
    <a href="/">KTH STYLE</a>
    <span class="separator">/</span>
    <span class="current">Knappar</span>
</div>

<h1>Knappar</h1>
<form>
    <h3>"Input"-element</h3>
    <div>
        <input type="button" value="Minor action" title="T.ex. 'Redigera'">
        <input type="submit" value="Submit" title="T.ex. 'Submit',  'Ok'">
        <input type="reset" value="Reset" title="T.ex. 'Reset'">
        <input type="submit" disabled value="Disabled" title="T.ex. 'Lägga till'">
    </div>

    <h3>"Button"-element</h3>
    <div>
        <button type="button" title="T.ex. 'Redigera'">Minor action</button>
        <button type="submit" title="T.ex. 'Submit',  'Ok'">Submit</button>
        <button type="reset">Reset</button>
        <button type="button" disabled title="T.ex. 'Lägga till'">Disabled</button>
    </div>
</form>

<h3>"A"-element</h3>

<a class="btn btn-primary" role="button" href=".">Minor action</a>
<a class="btn btn-success" role="button" href=".">Submit</a>
<a class="btn btn-danger" role="button" href=".">Reset</a>
<a class="btn btn-primary disabled" role="button" href="#">Disabled</a>


