<div id="breadcrumbs" class="breadcrumbs">
    <a href="https://www.kth.se">KTH</a>
    <span class="separator">/</span>
    <a href="/">KTH STYLE</a>
    <span class="separator">/</span>
    <span class="current">Formulär</span>
</div>

<h1>Formulär</h1>

<div class="row">
    <div class="col-md-8">
        <form>
            <label>Input text</label>
            <div>
                <input type="text" name="firstName" placeholder="Förnamn"><br/>
                <input type="text" name="lastName" placeholder="Efternamn">
            </div>

            <label>Textarea</label>
            <div>
                <textarea name="description" cols="50" rows="8" placeholder="Beskrivning..."></textarea>
            </div>

            <label>Radioknappar</label>
            <div>
                <input type="radio" name="answer" value="yes" checked> Ja<br/>
                <input type="radio" name="answer" value="no"> Nej
            </div>

            <label>Checkboxar</label>
            <div>
                <input type="checkbox" name="mac" value="one" checked> Mac<br/>
                <input type="checkbox" name="windows" value="two"> Windows <br/>
                <input type="checkbox" name="linux" value="three"> Linux
            </div>

            <label>Select-element</label>
            <div>
                <select>
                    <option value="none" selected>Välj bilmärke</option>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </div>

            <label>Datum</label>
            <div>
                <input type="date" name="date">
            </div>

            <label>Månad</label>
            <div>
                <input type="month" name="month">
            </div>

            <label>Vecka</label>
            <div>
                <input type="week" name="week">
            </div>

            <label>Tid</label>
            <div>
                <input type="time" name="time">
            </div>

            <label>Datum/Tid</label>
            <div>
                <input type="datetime" name="datetime">
            </div>

            <label>E-post</label>
            <div>
                <input type="email" name="email" placeholder="username@kth.se">
            </div>

            <label>Url</label>
            <div>
                <input type="url" name="url" placeholder="https://www.kth.se">
            </div>

            <label>Range</label>
            <div>
                <input type="range" name="range" min="0" max="10" value="0">
            </div>

            <label>Nummer</label>
            <div>
                <input type="number" name="number" placeholder="Ex. 1337">
            </div>

            <label>Färg</label>
            <div>
                <input type="color" name="color" value="#d85497">
            </div>

            <label>Telefon</label>
            <div>
                <input type="tel" name="tel" placeholder="08-790 6001">
            </div>

            <label>Sök</label>
            <div>
                <input type="search" name="search">
            </div>

            <label>Knappar</label>
            <div>
                <input type="button" name="reset" value="Redigera">
                <input type="reset" name="reset" value="Rensa">
                <input type="submit" name="submit" value="Skicka">
            </div>
        </form>
    </div>
</div>