<div id="breadcrumbs" class="breadcrumbs">
    <a href="https://www.kth.se">KTH</a>
    <span class="separator">/</span>
    <a href="/">KTH STYLE</a>
    <span class="separator">/</span>
    <span class="current">Rubriker</span>
</div>

<h1>Titel (H1)</h1>

<h2>Rubriknivå 2 (H2) </h2>

<h3>Rubriknivå 3 (H3)</h3>

<h4>Rubriknivå 4 (H4)</h4>