<h1>KTH Style</h1>

<div class="row">
    <div class="col-md-4">
        <h3><a href="headlines">Rubriker</a></h3>
        <p>Exempel på olika sorters rubriker.</p>
    </div>
    <div class="col-md-4">
        <h3><a href="text">Textstruktur</a></h3>
        <p>Exempel på olika texter med olika sorters utsende och innebörd.</p>
    </div>
    <div class="col-md-4">
        <h3><a href="tables">Tabeller</a></h3>
        <p>Exempel på tabeller och deras utförande.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3><a href="lists">Listor</a></h3>
        <p>Exempel på olika sorters listor och deras utförande.</p>
    </div>
    <div class="col-md-4">
        <h3><a href="buttons">Knappar</a></h3>
        <p>Exempel på olika sorters knappar och deras utseende utifrån tänkt användning.</p>
    </div>
    <div class="col-md-4">
        <h3><a href="forms">Formulär</a></h3>
        <p>Exempel på formulär och deras element.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3><a href="modals">Modalboxar</a></h3>
        <p>Exempel på olika sorters modalboxar och deras utförande.</p>
    </div>
    <div class="col-md-4">
        <h3><a href="messages">Meddelanden</a></h3>
        <p>Exempel på olika sorters meddelanden och deras utförande.</p>
    </div>
    <div class="col-md-4">
        <h3><a href=".">---</a></h3>
        <p>Exempel på ...</p>
    </div>
</div>
<br/><br/>
