<div id="breadcrumbs" class="breadcrumbs">
    <a href="https://www.kth.se">KTH</a>
    <span class="separator">/</span>
    <a href="/">KTH STYLE</a>
    <span class="separator">/</span>
    <span class="current">Meddelanden</span>
</div>

<h1>Meddelanden</h1>

<p><b>Detta är ett systemmeddelande som används när vi uppdaterar en applikation.</b></p>

<div class="system-message alert alert-warning alert-dismissible">
    <div class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></div>
    <div class="message" data-bind="text: message">Vi kommer att uppdatera applikationen kl. 16:00. Vänligen spara dina ändringar och logga ut innan.</div>
</div>