<div id="breadcrumbs" class="breadcrumbs">
    <a href="https://www.kth.se">KTH</a>
    <span class="separator">/</span>
    <a href="/">KTH STYLE</a>
    <span class="separator">/</span>
    <span class="current">Meddelanden</span>
</div>

<h1>Meddelanden</h1>

<p><b>Detta är ett systemmeddelande som används när vi uppdaterar en applikation.</b></p>

<div class="system-message alert alert-warning alert-dismissible">
    <div class="glyphicon glyphicon-info-sign" aria-hidden="true"></div>
    <div class="message">Vi kommer att uppdatera applikationen kl. 16:00. Vänligen spara dina ändringar och logga ut innan.</div>
</div>

<p><b>Detta är ett exempel på ett meddelande som används när ett fel har uppstått.</b></p>

<div class="error-message alert alert-danger alert-dismissible">
  <div class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></div>
  <div class="message">Det går inte att hämta informationen just nu.</div>
</div>

<p><b>Detta är ett exempel på ett meddelande som används vid ett lyckats resultat.</b></p>

<div class="ok-message alert alert-success alert-dismissible">
  <div class="glyphicon glyphicon-ok" aria-hidden="true"></div>
  <div class="message">Det kunde inte ha gått bättre.</div>
</div>
