<div id="breadcrumbs" class="breadcrumbs">
    <a href="https://www.kth.se">KTH</a>
    <span class="separator">/</span>
    <a href="/">KTH STYLE</a>
    <span class="separator">/</span>
    <span class="current">Tabeller</span>
</div>

<h1>Tabeller</h1>

<table>
    <thead>
        <tr>
            <th>Namn</th>
            <th>Befattning</th>
            <th>E-post</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Kalle</td>
            <td>Johnsson</td>
            <td><a href="mailto:johnsson@kth.se">johnsson@kth.se</a></td>
        </tr>
        <tr>
            <td>Lisa</td>
            <td>Zivertz</td>
            <td><a href="mailto:ziv@kth.se">ziv@kth.se</a></td>
        </tr>
    </tbody>
</table>