<div id="breadcrumbs" class="breadcrumbs">
    <a href="https://www.kth.se">KTH</a>
    <span class="separator">/</span>
    <a href="/">KTH STYLE</a>
    <span class="separator">/</span>
    <span class="current">Textstruktur</span>
</div>

<h1>Textstruktur (H1)</h1>

<h2>Rubriknivå 2 (H2)</h2>

<p>Ett stycke med brödtext som innehåller <strong>"strong"
text</strong>, some <em>"emphasized" text</em>, some <b>"bold" text</b>
and some <i>"italic" text</i>.  And some more text so the paragraph
becomes more than one line.</p>
<p>And a second paragraph.</p>
<h3>Rubriknivå 3 (H3)</h3>
<p>A paragraph of text that contains some <strong>strong
text</strong>, some <em>emphasized text</em>, some <b>bold text</b>
and some <i>italic text</i>.  And some more text so the paragraph
becomes more than one line.</p>
<h4>Rubriknivå 4 (H4)</h4>
<p>And a second paragraph.</p>
<h2>Rubriknivå 2 (H2)</h2>
<p>A paragraph of text that contains some <strong>strong
text</strong>, some <em>emphasized text</em>, some <b>bold text</b>
and some <i>italic text</i>.  And some more text so the paragraph
becomes more than one line.
A paragraph of text that contains some <strong>strong
text</strong>, some <em>emphasized text</em>, some <b>bold text</b>
and some <i>italic text</i>.  And some more text so the paragraph
becomes more than one line.</p>
<p>A paragraph of text that contains some <strong>strong
text</strong>, some <em>emphasized text</em>, some <b>bold text</b>
and some <i>italic text</i>.  And some more text so the paragraph
becomes more than one line.
A paragraph of text that contains some <strong>strong
text</strong>, some <em>emphasized text</em>, some <b>bold text</b>
and some <i>italic text</i>.  And some more text so the paragraph
becomes more than one line.</p>
<p>A paragraph of text that contains some <strong>strong
text</strong>, some <em>emphasized text</em>, some <b>bold text</b>
and some <i>italic text</i>.  And some more text so the paragraph
becomes more than one line.</p>
<p>A paragraph of text that contains some <strong>strong
text</strong>, some <em>emphasized text</em>, some <b>bold text</b>
and some <i>italic text</i>.  And some more text so the paragraph
becomes more than one line.</p>
<p>And a second paragraph.</p>
