{{breadcrumbs breadcrumbsPath lang}}

<article>
  <h1>Om KTH Style</h1>
  
  <section>
    <h2>Bakgrund</h2>
    <ul>
        <li>
            KTH webb är riktlinje för style men olika delar har kopierats vid olika lägen och tolkats olika vilket gör att utseende varierar mellan olika tjänster.
        </li>
        <li>
            Även inom KTH webb finns delar som är tveksamma vad gäller principer för Användbarhet och Tillgänglighet.
        </li>
        <li>
            Det finns inte heller några riktlinjer eller principer nedskrivna för hur man ska använda de olika elementen för att uppnå bra UX.
        </li>
        <li>
            Kth style har mer handlat om att man ska förstå att man är på kth.se ("se kth-igt ut").
        </li>
    </ul>
  </section>
  
  <section>
    <h2>Målgrupp</h2>
     <ul>
        <li>
            Utvecklare av KTH-förvaltade webbmiljöer.
        </li>
        <li>
            Webbredaktörer och webbansvariga på KTH använder styleguiden för allmän orientering i KTH:s webbform. För riktlinjer som styr formmässiga delar av det redaktionella arbetet hänvisas till dokumentation på KTH Intranät.
        </li>
        <li>
            Externa parter som utvecklar webbtjänster i enlighet med form på KTH:s webbplats.
        </li>
    </ul>
  </section>
  
  <section>
    <h2>Syfte, mål</h2>
    <ul>
        <li>
            Målet med styleguiden är att:
            <ul>
                <li>
                    Förbättra upplevelsen för slutanvändaren, som är den som tar del av innehåll eller använder funktioner på KTH:s webbplats.
                </li>
                <li>
                    Det som möter slutanvändaren ska se ut och bete sig konsekvent i alla miljöer som omfattas av KTH:s centralt förvaltade webbform.
                </li>
                <li>
                    Det är ett levande dokument.
                </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            Genom att:
            <ul>
                <li>
                    Styleguiden ska sammanfatta vilka element som finns att tillgå och ge Utvecklarna riktlinjer när, hur och varför elementen ska användas i utvecklingsarbetet.
                </li>
                <li>
                    Styleguiden bygger på principer för Användbarhet och Tillgänglighet (se <a href="/style/overallprincipals">Övergripande principer</a>, Riktlinjer för användbarhet, Riktlinjer för tillgänglighet).
                </li>
                <li>
                    Innehållet diskuteras i de olika grupperingar som använder riktlinjerna och förankras med de centrala funktioner på KTH som förvaltar riktlinjerna.
                </li>
            </ul>
        </li>
    </ul>
  </section>
  
  <section>
    <h2>Avgränsning</h2>
     <ul>
        <li>
            Förankring i grafisk profil är relevant för all digital kommunikation på KTH som medger formmässiga anpassningar. Styleguiden gäller därför både för applikationer som används internt på KTH och externa målgrupper.
        </li>
        <li>
            Styleguiden omfattar webb som förvaltas av KTH centralt. Styleguiden omfattar inte applikationer som förvaltas lokalt på KTH och baseras på fri form, egna tolkningar av den grafiska profilen eller daterade centrala stilmalar (ambitionen är att fasa ut sådan form).
        </li>
        <li>
            Styleguiden omfattar främst de element som är gemensamma för flertalet applikationer. Övriga element som är specifika för en viss applikation eller del av ska genomgå samma översyn men inte göras tillgängliga i Styleguiden (kan vara en egen del som utgår från Styleguiden).
        </li>
        <li>
            Styleguiden tar främst fasta på enskilda element och ger endast översiktlig vägledning i hur dessa bör förhålla sig till varandra. Olika applikationer ger olika förutsättningar för hur forminslagen kan disponeras över olika ytor. Alla tillämpningar av styleguiden behöver därför förankras med de centrala funktioner på KTH som förvaltar riktlinjerna.
        </li>
        <li>
            Styleguiden stödjer de webbläsare och versioner som WIKS stödjer...
        </li>
    </ul>
  </section>
</article>
