{{breadcrumbs breadcrumbsPath lang}}

<h1>Knappar</h1>
<article>
  
  <section>
    <p>
        Knapp används för att initiera en aktivitet. Ett klick på en knapp får något att hända. Det kan vara att ett formulär man fyllt i skickas in eller att en sökning utförs. Nästan alltid är en del av händelsen att användaren kommer till en ny sida – men det måste hända mer än så. Läs mer under <a href="/style/linksorbuttons">Välj om länk eller knapp</a>.
    </p>
    <p>
        Det finns finns fem olika typer av knappar. Välj knapp utifrån användning (se nedan).
    </p>
    <p>
      Läs gärna mer om <a href="https://www.kth.se/social/group/kth-style-guide/page/bakgrund-10/">bakgrund</a>.
    </p>
    <h2>Välj typ av knapp</h2>
    <table class="table" data-example="testtest">
      <thead class="thead-default">
        <tr>
          <th>Namn</th>
          <th>Användning</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Primary</td>
          <td>För primära aktiviteter (man vill uppmuntra användaren att utföra)</td>
        </tr>
        <tr>
          <td>Submit</td>
          <td>För att uppmana användaren att avsluta en uppgift som hen har påbörjat</td>
        </tr>
        <tr>
          <td>Secondary</td>
          <td>För sekundära aktiviteter (man kan utföra, men uppmanas inte till det)</td>
        </tr>
        <tr>
          <td>Delete</td>
          <td>För aktiviteter som är destruktiva</td>
        </tr>
        <tr>
          <td>Disabled</td>
          <td>För aktiviteter som inte är möjliga i ett specifikt tillstånd</td>
        </tr>
      </tbody>
    </table>
  </section>
  
  <section>
    <h2>Olika typer av knappar</h2>
    <p>
      För varje typ finns det tre olika varianter. ”A” används för länkar. Innan du väljer att använda en knapp för en länk, läs mer om när det är ok (se <a href="/style/linksorbuttons">Välj om länk eller knapp</a>).
    </p>
    <h3>Primary</h3>
    <form>
        <div class="examples-container">
            <div data-examples-view="primary">
                <input data-example="primary-input" type="button" value="Input" title="T.ex. 'Redigera'">
                <button data-example="primary-button" type="button" title="T.ex. 'Redigera'">Button</button>
                <a data-example="primary-link" class="btn btn-primary" role="button" href=".">Link</a>
            </div>
        </div>
    </form>
    <h4>Användning</h4>
    <ul>
        <li>
            För primära aktiviteter (man vill uppmuntra användaren att utföra).
        </li>
        <li>
            "Sök" är en special variant av denna.
        </li>
        <li>
            Exempel: "Ansöka".
        </li>
    </ul>
    <h4>Tänk på att</h4>
    <ul>
        <li>
            Se <a href="#generella_riktlinjer_knappar">Generella riktlinjer för knappar</a>.
        </li>
    </ul>

    <h3>Submit</h3>
    <form>
        <div class="examples-container">
            <div data-examples-view="submit">
                <input type="submit" data-example="submit-input" value="Input" title="T.ex. 'Submit',  'Ok'">
                <button type="submit" data-example="submit-button" title="T.ex. 'Submit',  'Ok'">Button</button>
                <a class="btn btn-success" data-example="submit-link" role="button" href=".">Link</a>
            </div>
        </div>
    </form>
    <h4>Användning</h4>
    <ul>
        <li>
            För att uppmana användaren att avsluta en uppgift som hen har påbörjat.
        </li>
        <li>
            Exempel: "Spara" och "Ok".
        </li>
    </ul>
    <h4>Tänk på att</h4>
    <ul>
        <li>
            Komplettera med ett avbryt-alternativ (se <a href="#dialoger">Dialoger</a>).
        </li>
        <li>
            Använd inte för destruktiva aktiviteter som ex "Ta bort fil" (se <a href="#dialoger">Dialoger</a>).
        </li>
        <li>
            Var försiktig att göra knappen till default-val då slutanvändaren kan råka göra valet oavsiktligt genom ”Enter”.
        </li>
        <li>
            Se även <a href="#generella_riktlinjer_knappar">Generella riktlinjer för knappar</a>.
        </li>
    </ul>

    <h3>Secondary</h3>
    <form>
        <div class="examples-container">
            <div data-examples-view="secondary">
                <input type="button" data-example="secondary-input" class="default" value="Input" title="Default">
                <button type="button" data-example="secondary-button" class="default" title="T.ex. 'Default'">Button</button>
                <a class="btn btn-secondary" data-example="secondary-link" role="button" href=".">Link</a>
            </div>
        </div>
    </form>
    <h4>Användning:</h4>
    <ul>
        <li>
            För sekundära aktiviteter (man kan utföra, men uppmanas inte till det).
        </li>
        <li>
            Exempel:
            <ul>
                <li>
                    "Avbryt".
                </li>
                <li>
                    Dialoger där inget av alternativen man kan välja ska uppmuntras.
                </li>
                <li>
                    Utfällbara meny-knappar (som använd överst på sidor där man vill få plats med flera val).
                </li>
            </ul>
        </li>
    </ul>
    <h4>Tänk på att: </h4>
    <ul>
        <li>
            Se <a href="#generella_riktlinjer_knappar">Generella riktlinjer för knappar</a>.
        </li>
    </ul>

    <h3>Delete</h3>
        <form>
            <div class="examples-container">
                <div data-examples-view="reset">
                    <input data-example="reset-input" type="reset" value="Reset Input" title="T.ex. 'Reset'">
                    <button data-example="reset-button" type="reset">Reset Button</button>
                    <a data-example="reset-link" class="btn btn-danger" role="button" href=".">Reset A</a>
                </div>
            </div>
         </form>
    <h4>Användning</h4>
    <ul>
        <li>
            För aktiviteter som är destruktiva.
        </li>
        <li>
            Exempel: "Ta bort".
        </li>
    </ul>
    <h4>Tänk på att</h4>
    <ul>
        <li>
            "Delete" ska följas av dialog där användaren får bekräfta sitt val (se <a href="#dialoger">Dialoger</a>)
        </li>
        <li>
            Se även <a href="#generella_riktlinjer_knappar">Generella riktlinjer för knappar</a>.
        </li>
    </ul>

    <h3>Disabled</h3>
    <form>
        <div class="examples-container">
            <div data-examples-view="disabled">
                <div class="example-container" data-example="disabled-input">
                    <input data-example="disabled-input" type="submit" disabled value="Disabled Input" title="T.ex. 'Lägga till'">
                </div>
                <div class="example-container" data-example="disabled-button">
                    <button type="button" disabled title="T.ex. 'Lägga till'">Disabled Button</button>
                </div>
                <div class="example-container anti-pattern" data-example="disabled-link">
                    <a  class="btn btn-primary disabled" role="button" href="#" aria-disabled="true">Antipattern Disabled link</a>
                </div>
            </div>
        </div>
    </form>
    <h4>Användning</h4>
    <ul>
        <li>
            För aktiviteter som inte är möliga i ett specifikt tillstånd.
        </li>
        <li>
            Exempel: "Spara" när man inte har fyllt i alla nödvändiga uppgifter i ett formulär.
        </li>
    </ul>
    <h4>Tänk på att</h4>
    <ul>
        <li>
            Se <a href="#generella_riktlinjer_knappar">Generella riktlinjer för knappar.</a>
        </li>
    </ul>
</section> 

<section id="generella_riktlinjer_knappar">
  <h2>Generella riktlinjer för knappar</h2>
  <h3>Placering</h3>
    <ul>
      <li>
        Använd inte ovanför listor då knappen kan tas för dekoration.
      </li>
      <li>
        Knappar ska ligga till höger (på sidor, formulär, dialogboxar).
      </li>
      <li>
        Se även hur man kombimnerar knappar i <a href="/style/dialogs">Dialoger</a>
      </li>
      <li>
        Se även <a href="/style/linksorbuttons#generella_riktlinjer_link_knapp">Generella riktlinjer för länk och knapp</a>.
      </li>
    </ul>
</section>  

<section>
  <h2>TODO</h2>
  <ul>
    <li>Visa dont's i t.ex. en lätt rosa ruta</li>  
    <li>Meny-version av secondary knappen</li>
    <li>Ändra länkar till Dialoger och Generella riktlinjer länk, knapp</li>
  </ul>
</section>  

</article>

<h3>TODO</h3>
* Use of btn-sm
