{{breadcrumbs breadcrumbsPath lang}}

<article>
  <h1>Dialoger</h1>
  <section>
    <p>
        Dialoger används då man behöver direkt input från användaren. Användningen ska minimeras då de avbryter användarens flöde. 
    </p>
    <p>
        Det finns finns två olika typer av dialoger. Välj dialog utifrån användning (se nedan).
    </p>
    <p>
      Om du är intresserad, läs mer om <a href="#">bakgrund</a>till varför dialogerna ser ut och beter sig som det gör.
    </p>
    <h2>Välj typ av dialog</h2>
    <table class="table">
      <thead class="thead-default">
        <tr>
          <th>Namn</th>
          <th>Användning</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Confirm</td>
          <td>När man vill att användaren ska bekräfta ett gjort val som inte kan ångras</td>
        </tr>
        <tr>
          <td>Choose</td>
          <td>När användaren ska göra val som är mindre allvarligt (det går att ångra)</td>
        </tr>
         </tbody>
    </table>
  </section>
    
  <section>
    <h2>Olika typer av dialoger</h2>
    <h3>Confirm</h3>
    <p> Infoga komponent här...</p>
    <h4>Användning</h4>
    <ul>
        <li>
            När man vill att användaren ska bekräfta ett gjort val som inte kan ångras.
        </li>
        <li>
            Exempel: ta bort fil.
        </li>
    </ul>
    <h4>Tänk på att</h4>
    <ul>
        <li>
            Det är extra viktigt för dialoger att tänka på namngivning av knapparna, se <a href="#generella_riktlinjer_knappar">Generella riktlinjer knappar</a>.
        </li>
    </ul>
  
    <h3>Choose</h3>
    <p> Infoga komponent här...</p>
    <h4>Användning</h4>
    <ul>
        <li>
            När användaren ska göra val som är mindre allvarligt (det går att ångra).
        </li>
        <li>
            Exempel:
            <ul>
                <li>
                    När man vill uppmuntra att avsluta något som användare har initierat.
                </li>
                <li>
                    Bifoga bild.
                </li>
            </ul>
         </li>
       </ul>
       <h4>Tänk på att</h4>
       <ul>
         <li>
            Det är extra viktigt för dialoger att tänka på namngivning av knapparna, se <a href="#generella_riktlinjer_knappar">Generella riktlinjer knappar</a>.
         </li>
       </ul>
     </section>
     
     <section>
     <h2>TODO</h2>
     <ul>
        <li>Uppdatera länkar</li>
        <li>Uppdatera komponeneter</li>  
     </ul>
   </section>  
   
</article>
