{{breadcrumbs breadcrumbsPath lang}}

<article>
  <h1>KTH:s grafiska profil</h1>
  
  <section>
    <h2>Bakgrund</h2>
    <p>
      KTH:s grafiska profil är beslutad av rektor.
    </p>
    <p>
      Profilen omfattar dock inte ett officiellt KTH-utseende på webb. Den webbform som tillämpas på centralt förvaltade webbmiljöer är en tillämpning av den grafiska profilen. Av det följer att forminslag följer grafisk profil i de fall denna är tillämplig. Hit hör val av fonter, färger, hantering av KTH:s logotyp och bruk av profilens särskilda grafiska element. 
    </p>
    <p>
      Tillkommande forminslag och avsteg från grafisk profil sker utifrån webbspecifika behov samt krav på användbarhet och tillgänglighet (se <a href="/style/overallprincipals">Övergripande principer</a>, Riktlinjer för användbarhet, Riktlinjer för tillgänglighet).
    </p>
  </section>
  
  <section>
    <h2>Färg</h2>
    
    <h3>Hur vi använder färger</h3>
     <ul>
        <li>
            Vi utgår ifrån <a href="https://intra.kth.se/polopoly_fs/1.458089!/image/fargreferens_png.png">KTH:s profil färger</a> men har testat kontrast och om dålig kontrast justerat ljusheten (p g a tillgänglighet). Läs mer om kontrast under <a href="/style/accessiblecolors">Färger och tillgänglighet</a>.
        </li>
        <li>
            Färg ska inte vara det enda sättet att skilja på information utan kan fungera som ett bra tillägg till någon visuell markering (som inte bygger på färgskillnader). T ex använd understruket tillsammans med blå färg på länkad text. (Tillgänglighet).
        </li>
        <li>
            Då man använder färg i dekorativt syfte ska man göra detta utan att det samtidigt påverkar användbarhet och tillgänglighet. Exempel på felaktig användning:
            <ul>
                <li>
                    Man använder interaktiva element som knappar för att dekorera i stället för att det egentligen hade varit mer passande med en länk. Färger ska inte distrahera användaren från det som egentligen är uppgiften på sidan (Användbarhet).
                </li>
                <li>
                    Man använder färgade plattor med vit text som inte ger tillräcklig kontrast och därför försvårar läsbarhet (Tillgänglighet).
                </li>
                <li>
                    Man hoppar över H2:an för att man inte tycker om den gröna färgen på rubriken (Tillgänglighet).
                </li>
            </ul>
        </li>
        <li>
            Man kan använda färger för att markera, koda innehåll. Tänk på att i samma sammanhang inte samtidigt använda färger i ett dekorativt syfte.
        </li>
    </ul>
  
  <h3>Annpassning av KTHs profilfärger</h3>
    <p>
      Målet har varit att kth.se ska möta tillgänglighetskrav på nivå AA för WCAG 2.0 (se <a href="/style/overallprincipals#riktlinjer_tillganglighet">Övergripande principer</a>, Riktlinjer tillgänglighet, riktlinje 1.4) genom att för kth.se ändra färger, och teststorlek på elementen listade nedan. En ytterligare positiv konsekvens av dessa förändringar är att kth.se kommer att ge en lugnare upplevelse vilket kommer att ge en bättre läsbarhet för alla användare.
    </p>
    <p>
      Vi har inte velat göra för stora förändringar; kth.se ska fortfarande ge samma design-upplevelse som är baserat på den kth-profil som togs fram för ett antal år sen. Större förändringar än det vi föreslagit här kräver en större redesign med nya profilfärger, annan layout, etc.
    </p>
    <p>
      I förra förslaget vi tog fram så tog vi helt bort den ljusgröna, ljusblå samt den gula färgen vilket gjorde att de färger som fanns kvar var mörk blå profilfärg, röd (något mörkare) och rosa (något mörkare). Vi insåg sen att Kommunikationsansvariga behöver fler (och varmare) färger att laborera med för att inte förändra KTHs profil för mycket.
    </p>
    <p>
      I detta förslag har vi i stället mörkat ner den ljusa blå profilfärgen till nivå AA för stor text (se Färger nedan) och ersatt den ljusa gröna med den gröna profilfärgen, vilket gör att vi inte frångår KTHs profil för mycket. Det kräver dock att vit text på färgad bakgrund har en fontstorlek på minst 14 om fet och annars 18 px. Alla element utom plattor kommer uppfylla detta enligt vårt förslag nedan.
    </p>
    <p>
      Se <a href="/style/colors">Färger</a>
    </p>
  </section>
  
  <section>
    <h2>Font</h2>
     <p>
        Titel:
     </p>
     <ul>
        <li>
            Times ....
        </li>
    </ul>
    <p>
        Rubriker (H2-H4) samt brödtext:
     </p>
     <ul>
        <li>
            Serif: ...
        </li>
         <li>
            Sans serif: font-family: Arial, 'Helvetica Neue', helvetica, sans-serif
        </li>
     </ul>
   </section>
   
   <section>
  <h2>TODO</h2>
  <ul>
    <li>Uppdatera text under Fonter</li>
    <li>Se till att länkar till rätt ställen, när ställena finns.</li>
  </ul>
</section>  
   
   <article>
    
  
