{{breadcrumbs breadcrumbsPath lang}}

<article>
<h1>Rubriker, brödtext</h1>
  <section>
    <p>
      Det finns fyra rubriknivåer samt brödtext (se nedan).
    </p>
    <p>
      Läs gärna mer om <a href="https://www.kth.se/social/group/kth-style-guide/page/bakgrund-14/">bakgrund</a> till val av rubriknivå och brödtext.
    </p>
    <h2>Välj typ av rubriker, brödtext</h2>
    <table class="table">
      <thead class="thead-default">
        <tr>
          <th>Namn</th>
          <th>Användning</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Titel (H1)</td>
          <td>Som huvudrubrik, ska inte användas längre ned på sidor och ska bara förekomma en gång på varje sida.</td>
        </tr>
        <tr>
          <td>Rubriknivå 2 (H2)</td>
          <td>Som andra rubriknivå.</td>
        </tr>
        <tr>
          <td>Rubriknivå 3 (H3)</td>
          <td>Som tredje rubriknivå.</td>
        </tr>
        <tr>
          <td>Rubriknivå 4 (H4)</td>
          <td>Som fjärde rubriknivå.</td>
        </tr>
        <tr>
          <td>Brödtext</td>
          <td>Som innehållstext under rubriker.</td>
        </tr>
      </tbody>
    </table>
  </section>
  
<section>
    <h2>Olika typer av rubriker, brödtext</h2>
    
    <h3>Titel (H1)</h3>
     <div class="examples-container">
       <div data-examples-view="Titel">
         <h1 data-example>Titel (H1)</h1>
       </div>
     </div>
     <h4>Användning</h4>
    <ul>
        <li>
            Som huvudrubrik.
        </li>
        <li>
            Används inte längre ned på sidor och förekommer bara en gång på varje sida.
        </li>
        <li>
          <p>
            Se exempel: <a href="/style/textexample">rubriker och brödtext.</a>
          </p>
        </li>
    </ul>
    <h4>Tänk på att</h4>
    <ul>
        <li>
            Se <a href="#generella_riktlinjer_rubriker"> Generella riktlinjer för rubriker.</a>
        </li>
    </ul>

    <h3>Rubriknivå 2 (H2)</h3>
     <div class="examples-container">
       <div data-examples-view="rubriknivå-2">
         <h2 data-example>Rubriknivå 2 (H2)</h2>
       </div>
     </div>
     <h4>Användning</h4>
    <ul>
        <li>
            Som andra rubriknivå.
        </li>
        <li>
          <p>
            Se exempel: <a href="/style/textexample">rubriker och brödtext.</a>
          </p>
        </li>
    </ul>
    <h4>Tänk på att</h4>
    <ul>
        <li>
              Se <a href="#generella_riktlinjer_rubriker"> Generella riktlinjer för rubriker.</a>
        </li>
    </ul>

<h3>Rubriknivå 3 (H3)</h3>
    <div class="examples-container">
      <div data-examples-view="rubriknivå-3">
        <h3 data-example>Rubriknivå 3 (H3)</h3>
      </div>
    </div>
     <h4>Användning</h4>
    <ul>
        <li>
            Som  tredje rubriknivå.
        </li>
        <li>
          <p>
            Se exempel: <a href="/style/textexample">rubriker och brödtext.</a>
          </p>
        </li>
    </ul>
    <h4>Tänk på att</h4>
        <ul>
     <li>
        Se <a href="#generella_riktlinjer_rubriker"> Generella riktlinjer för rubriker.</a>
     </li>
    </ul>

<h3>Rubriknivå 4 (H4)</h3>
  <div class="examples-container">
    <div data-examples-view="rubriknivå-4">
      <h4 data-example>Rubriknivå 4 (H4)</h4>
    </div>
  </div>
     <h4>Användning</h4>
    <ul>
        <li>
            Som  fjärde rubriknivå.
        </li>
        <li>
          <p>
            Se exempel: <a href="/style/textexample">rubriker och brödtext.</a>
          </p>
        </li>
    </ul>
    <h4>Tänk på att</h4>
    <ul>
        <li>
              Se <a href="#generella_riktlinjer_rubriker"> Generella riktlinjer för rubriker.</a>
        </li>
    </ul>
 
 <h3>Brödtext</h3>
  <div class="examples-container">
    <div data-examples-view="brödtext">
      <p data-example>Brödtext</p>
    </div>
  </div>
     <h4>Användning</h4>
    <ul>
        <li>
            Som innehållstext under rubriker.
        </li>
        <li>
          <p>
            Se exempel: <a href="/style/textexample">rubriker och brödtext.</a>
          </p>
        </li>
    </ul>
    <h4>Tänk på att</h4>
    <ul>
        <li>
            Använd sparsamt med grafiska markeringar som kursiv och fetstil i löptext på en webbsida.
        </li>
        <ul>
            <li>
                 Fetstil används framför allt för att markera nyckelord i en text.
            </li>
            <li>
                Kursiv text kan precis som i tryckt text användas för att markera betoning.
            </li>
        </ul>
        <li>
            Vill man ge titlar på skrifter och liknande en grafisk markering är citattecken att föredra framför kursiv text.
        </li>
    </ul>
 </section>

<section id="generella_riktlinjer_rubriker">
<h2>Generella riktlinjer för rubriker</h2>
<ul>
  <li>Välj rubriker som beskriver innehållet.</li>
  <li>Titeln ska vara unik och ska börja med det unika och mest relevanta</li>
  <li>När de finns flera sidor som hör i hop, t ex en wizard I flera steg, inkludera aktuellt steg i titeln.</li>
  <li>Använd rubriker för att ge struktur och mening till längre textinnehåll. Använd korta rubriker för att gruppera relaterade paragrafer.</li>
  <li>Hoppa inte över rubriknivåer då det försvårar förståelse av sidostrukturen och läsbarheten.</li>
</ul>
</section>

<section>
  <h2>TODO</h2>
  <ul>
   <li>
      Behöver well under rubriker
   </li>
  </ul>
</section> 

</article>


