{{breadcrumbs breadcrumbsPath lang}}

<article>
  <h1>Ikoner</h1>
  <section id="iconsMain">
    <table class="table">
      <thead class="thead-default">
        <tr>
          <th>Ikon</th>
          <th>CSS-klass</th>
          <th>Beskrivning</th>
        </tr>
      </thead>
      <tbody>
      {{#each icons}}
        <tr>
          <td><span class="{{this.use}} big-icon"></span></td>
          <td>{{this.print}}</td>
          <td></td>
        </tr>
      {{/each}}        
        </tbody>
      </table> 
  </section>
<article>