{{breadcrumbs breadcrumbsPath lang}}

<h1>KTH Style</h1>
<div id="main">
    <section>
        <h2>Bakgrund</h2>
        <a href="style/about">Om KTH Style</a>
        <a href="style/overallprincipals">Övergripande principer</a>
        <a href="style/graphicalprofile">KTHs grafiska profil</a>
        <a href="/style/readmore">Länksamling</a>
    </section>    
    
    <section>
        <h2>Tillgänglig kod</h2>
        <a href="/style/accessiblecode">Tillgänglig kod</a>
        <a href="/style/testhelper">Testhjälpen</a>
    </section>    
    
    <section>
        <h2>Färger</h2>
        <a href="/style/colors">Färger</a>
        <a href="/style/accessiblecolors">Färger och tillgänglighet</a>
    </section>
    <section>
        <h2>Ikoner</h2>
        <a href="/style/icons">Ikoner</a>
    </section>
    <section>
        <h2>Sidstruktur</h2>
        <a href="/style/structurepage">Hur gör jag en sida med bra layout</a>
        <a href="/style/panelheading">Utfällbara rubriklister</a>
        <a href="/style/wells">Bakgrunder</a>
        <a href="">Flikar</a>
    </section>
    <section>
            <h2>Menyer</h2>
    </section>        
    <section>
        <h2>Tabeller</h2>
        <a href="/style/tables">Tabeller</a>
    </section>        
    <section>
        <h2>Formulär, indaelement</h2>
        <a href="/style/forms">Formulär</a>
    </section>        
    <section>
        <h2>Återkoppling</h2>
        <p>Information eller Återkoppling hjälper användaren att kunna utföra sina aktiviteter och nå sina mål på ett tillfredställande sätt.</p>
        <a href="/style/messages">Meddelanden</a>
    </section>        
    <section>
        <h2>Rubriker, text, listor</h2>
        <a href="/style/headlines">Rubrik och brödtext (TODO: slå ihop med /style/text)</a>
        <a href="/style/lists">Listor</a>
    </section>        
    <section>
        <h2>Knappar, länkar</h2>
        <a href="/style/linksorbuttons">Välja knapp eller länk</a>
        <a href="/style/buttons">Knappar</a>
        <a href="/style/links">Länkar</a>
    </section>        
    <section>
        <h2>Dialoger</h2>
    </section>        
    <section>
        <h2>Använd KTH-Style i ditt projekt</h2>
        <a href="">Ladda ner CSS</a>
        <a href="">Guide</a>
    </section>        
</div>