{{breadcrumbs breadcrumbsPath lang}}

<h1>Listor</h1>

<h2>Numrerad lista</h2>
<div class="examples-container">
    <div data-examples-view="numrerad lista">
        <ol data-example>
            <li>Foo</li>
            <li>Även i en lista kan det ibland förekomma items som är så pass långa att de blir flera rader så jag skriver en massa junk här så det blir långt.</li>
            <li>Baz</li>
        </ol>
    </div>
</div>

<h2>Punktlista</h2>
<div class="examples-container">
    <div data-examples-view="punktlista">
        <ul data-example>
            <li>Foo</li>
            <li>Bar</li>
            <li>Baz</li>
        </ul>
    </div>
</div>

<h2>Länklista</h2>
<div class="examples-container">
    <div data-examples-view="länklista">
        <ul class="link-list" data-example>
            <li><a href="text">Rubriker och brödtext</a></li>
            <li><a href="forms">Forms</a></li>
            <li><a href="foo">Även i en lista kan det ibland förekomma items</a> som är så pass långa att de blir flera rader så jag skriver en massa junk här så det blir långt.</li>
            <li><a href="foo">Foo</a></li>
        </ul>
    </div>
</div>