{{breadcrumbs breadcrumbsPath lang}}

<h1>Listor</h1>

<h2>Numrerad lista</h2>
<ol>
    <li>Foo</li>
    <li>Även i en lista kan det ibland förekomma items som är så pass långa att de blir flera rader så jag skriver en massa junk här så det blir långt.</li>
    <li>Baz</li>
</ol>

<h2>Punktlista</h2>
<ul>
    <li>Foo</li>
    <li>Bar</li>
    <li>Baz</li>
</ul>

<h2>Länklista</h2>
<ul class="link-list">
    <li><a href="text">Rubriker och brödtext</a></li>
    <li><a href="forms">Forms</a></li>
    <li><a href="foo">Även i en lista kan det ibland förekomma items</a> som är så pass långa att de blir flera rader så jag skriver en massa junk här så det blir långt.</li>
    <li><a href="foo">Foo</a></li>
</ul>