<div id="breadcrumbs" class="breadcrumbs">
    <a href="https://www.kth.se">KTH</a>
    <span class="separator">/</span>
    <a href="/">KTH STYLE</a>
    <span class="separator">/</span>
    <span class="current">Meddelanden</span>
</div>

<h1>Meddelanden</h1>

<p><b>Detta är ett systemmeddelande som används när vi uppdaterar en applikation.</b></p>

<div class="system-message alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  Vi kommer att uppdatera applikationen kl. 16:00. Vänligen spara dina ändringar och logga ut innan.
</div>

<p><b>Detta är ett exempel på ett meddelande som används när ett fel har uppstått.</b></p>

<div class="error-message alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  Det går inte att hämta informationen just nu.
</div>

<p><b>Detta är ett exempel på ett meddelande som används vid ett lyckats resultat.</b></p>

<div class="ok-message alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  Det kunde inte ha gått bättre.
</div>
