{{breadcrumbs breadcrumbsPath lang}}

<article>
<h1>Utfällbar rubriklist</h1>
  <section>
    <p>
        Utfällbara rubriklister används när man vill dölja information på en sida för att ge användaren överblick, samtidigt som man ger användaren en möjlighet att kunna se mer information utan att behöva lämna sidan.
    </p>
    <p>
        Det finns finns två olika typer av rubriklister.  Välj rubriklist utifrån användning (se nedan).
    </p>
    <p>
        Läs gärna mer om <a href="#">bakgrund</a> till varför rubriklisten ser ut och beter sig som det gör.
    </p>

  <h2>Välj typ av rubriklist</h2>
    <table class="table">
      <thead class="thead-default">
        <tr>
          <th>Namn</th>
          <th>Användning</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Vit-utfällbar-rubriklist</td>
          <td>När rubriklisten ska smälta in med övrigt innehåll på sidan</td>
        </tr>
        <tr>
          <td>Blå-utfällbar-rubriklist</td>
          <td>När det är viktigt att rubriklisten syns</td>
        </tr>
        </tbody>
    </table>
  </section>
  
  <section>
    <h2>Olika typer av rubriklister</h2>
    
    <h3>Vit-utfällbar-rubriklist</h3>
    
	<div class="card collapsible white">
		<div class="card-header" role="tab" id="headingWhite">
            <h4 class="mb-0">
                <a data-toggle="collapse" href="#collapseWhite" aria-expanded="false" aria-controls="collapseWhite">Visa mer information</a>
            </h4>
		</div>

		<div id="collapseWhite" class="collapse hide" role="tabpanel" aria-labelledby="headingWhite">
			<div class="card-block">
					Mer information
			</div>
		</div>
  </div>

    <h4>Användning</h4>
    <ul>
        <li>
            När rubriklisten ska smälta in med övrigt innehåll på sidan.
        </li>
        <li>
            Exempel: ?
        </li>
    </ul>
    <h4>Tänk på att</h4>
    <ul>
        <li>
            Försäkra dig om att användaren ser den vita rubriklisten (se <a href="/style/testhelper#testa_anvandbarhet">Testa användbarhet</a>). Om inte överväg att använda Blå-utfällbar-rubriklist.
        </li>
        <li>
            Se <a href="#generella_riktlinjer_rubriklist">Generella riktlinjer rubriklist</a>.
        </li>
    </ul>
  
    <h3>Blå-utfällbar-rubriklist</h3>
    	<div class="card collapsible blue">
				<div class="card-header" role="tab" id="headingBlue">
					<h4 class="mb-0">
						<a data-toggle="collapse" href="#collapseBlue" aria-expanded="false" aria-controls="collapseBlue">Visa mer information</a>
					</h4>
				</div>

				<div id="collapseBlue" class="collapse hide" role="tabpanel" aria-labelledby="headingBlue">
					<div class="card-block">
							Mer information
					</div>
				</div>
			</div>

    <h4>Användning</h4>
    <ul>
        <li>
            När det är viktigt att rubriklisten syns.
        </li>
        <li>
            Exempel: ?
        </li>
    </ul>
    <h4>Tänk på att</h4>
    <ul>
        <li>
            Se <a href="#generella_riktlinjer_rubriklist">Generella riktlinjer rubriklist</a>.
        </li>
    </ul>
  </section>
    
  <section>
    <h2 id="generella_riktlinjer_rubriklist">Generella riktlinjer rubriklist</h2> 
      <ul>
        <li>
          Rubriken ska beskriva innehållet som kan fällas ut.
        </li>
      </ul>
   </section>
  
   <section>
      <h2>TODO</h2>
      <ul>
          <li>Uppdatera länkar</li>
          <li>Uppdatera med komponenter</li>
          <li>Uppdatera med exempel där ?</li>  
      </ul>
    </section>  
</article>
