{{breadcrumbs breadcrumbsPath lang}}

<h1>Tabeller</h1>

<h2>Tabell</h2>
<table>
    <thead>
        <tr>
            <th>Namn</th>
            <th>Befattning</th>
            <th>E-post</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Kalle</td>
            <td>Johnsson</td>
            <td><a href="mailto:johnsson@kth.se">johnsson@kth.se</a></td>
        </tr>
        <tr>
            <td>Lisa</td>
            <td>Zivertz</td>
            <td><a href="mailto:ziv@kth.se">ziv@kth.se</a></td>
        </tr>
        <tr>
            <td>Lång text som gör att cellen blir ganska bred</td>
            <td>Lång text som gör att cellen blir ganska bred</td>
            <td>Lång text som gör att cellen blir ganska bred</td>
        </tr>
      <tr>
        <td>Nils</td>
        <td>Svensson</td>
        <td>Lång text som gör att cellen blir ganska bred</td>
      </tr>
    </tbody>
</table>

<h2>Tabell med boostrap style</h2>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Frukt</th>
        <th>Färg</th>
        <th>Pris</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Äpple</td>
        <td>Röd</td>
        <td>12 kr</td>
      </tr>
      <tr>
        <td>Banan</td>
        <td>Gul</td>
        <td>8 kr</td>
      </tr>
      <tr>
        <td>Päron</td>
        <td>Grön</td>
        <td>19 kr</td>
      </tr>
      <tr>
        <td>Lång text som gör att cellen blir ganska bred</td>
        <td>Lång text som gör att cellen blir ganska bred</td>
        <td>Lång text som gör att cellen blir ganska bred</td>
      </tr>
    </tbody>
  </table>
</div>