{{breadcrumbs breadcrumbsPath lang}}
<article>
<h1>Testhjälpen</h1>
  <section>
    <p>
        Om du använder KTH Style med komponenter/ tillhörande riktlinjer samt följer rekommendationer under <a href="/style/accessiblecode">Tillgänglig kod</a> så får du mycket av Användbarhet och Tillgänglighet gratis. 
    </p>
    <p>
      Men som alltid är det under testning du hittar det du inte tänkt på. Det kan vara saker som är specifikt för din applikation men det kan också vara saker vi behöver ta in i KTH Style för att förbättra den, så därför är det viktigt att du återkopplar till ansvariga för KTH Style när du hittat områden för förbättring.
    </p>
  </section>
  
  <section>
    <h2 id="testa_anvandbarhet">Testa användbarhet</h2>
    <p>
      Se instruktioner hur du genomför en <a href="https://confluence.sys.kth.se/confluence/pages/viewpage.action?pageId=27297507">användbarhetstest för vidareutveckling</a>.
    </p>
  </section>
  
  <section>
    <h2>Testa tillgänglighet</h2>
    <h3>Testa din websida manuellt</h3>
    <ul>
        <li>
            Tabba sig igenom sidan och se att (...?)
        </li>
        <li>
            Minska webb-fönstret och se att sidan inte går sönder.
        </li>
    </ul>
    <h3>Testa med testverktyg</h3>
    <p>
      ..?
    </p>
  </section>
  
  
 <section>
  <h2>TODO</h2>
  <ul>
    <li>Uppdatera där finns ?</li>
    <li>Lägg till förslag på tester tillgänglighet</li>  
  </ul>
</section>  

</article>
