{{breadcrumbs breadcrumbsPath lang}}

<h1>Textstruktur (H1)</h1>

<h2>Rubriknivå 2 (H2)</h2>

<p>Ett stycke med brödtext som innehåller <strong>"strong"
text</strong>, some <em>"emphasized" text</em>, some <b>"bold" text</b>
and some <i>"italic" text</i>.  And some more text so the paragraph
becomes more than one line.</p>
<p>And a second paragraph.</p>

<h3>Rubriknivå 3 (H3)</h3>
<p>A paragraph of text that contains some <strong>strong
text</strong>, some <em>emphasized text</em>, some <b>bold text</b>
and some <i>italic text</i>.  And some more text so the paragraph
becomes more than one line.</p>
<h4>Rubriknivå 4 (H4)</h4>
<p>And a second paragraph.</p>

<h2>Rubriknivå 2 (H2)</h2>
<p>A paragraph with <a href="/">a simple link</a> and
<a href="//safs.se/adsfa">not visited link</a> in the text.
Also, <a href="/" class="secondary">a secondary link</a> in the text.</p>

<p><a hef="gilla" class="secondary">gilla</a></p>

<p>A paragraph of text that contains some <strong>strong
text</strong>, some <em>emphasized text</em>, some <b>bold text</b>
and some <i>italic text</i>.  And some more text so the paragraph
becomes more than one line.
A paragraph of text that contains some <strong>strong
text</strong>, some <em>emphasized text</em>, some <b>bold text</b>
and some <i>italic text</i>.  And some more text so the paragraph
becomes more than one line.</p>

<h3><a href="/">A linked headline</a></h3>
<p>A paragraph of text that contains some <strong>strong
text</strong>, some <em>emphasized text</em>, some <b>bold text</b>
and some <i>italic text</i>.  And some more text so the paragraph
becomes more than one line.
<h3><a href="//safa.xy">A linked headline</a></h3>
A paragraph of text that contains some <strong>strong
text</strong>, some <em>emphasized text</em>, some <b>bold text</b>
and some <i>italic text</i>.  And some more text so the paragraph
becomes more than one line.</p>
<p>A paragraph of text that contains some <strong>strong
text</strong>, some <em>emphasized text</em>, some <b>bold text</b>
and some <i>italic text</i>.  And some more text so the paragraph
becomes more than one line.</p>

<h3>Some thing</h3>
<p><span class="categorylabel">Meeting</span> 13 - 15 in Copper, ITA</p>
<p>Some <em>emphasized text</em>, some <b>bold text</b>
and some <i>italic text</i>.  And some more text so the paragraph
becomes more than one line.</p>
<p>And a second paragraph.</p>

<h3>Rubriker på rubriker</h3>
<h1>H1</h1>
<h2>H2</h2>
<h3>H3</h3>
<h4>H4</h4>

<h1>H1</h1>
<p>Ullamco dolore esse exercitation qui anim. Amet excepteur fugiat minim Lorem. Do exercitation duis irure voluptate quis nisi deserunt nostrud ipsum. Duis nulla eiusmod aliqua irure reprehenderit in reprehenderit sit consequat nulla ea ut deserunt. Nulla aliqua ullamco nostrud consequat mollit mollit irure do.</p>

<h2>Rubrik hå-två</h2>
<p>Velit in nostrud anim eu ut. Incididunt id proident sit magna nisi elit commodo ex laboris. Consectetur do enim sint labore laborum ex esse dolor consequat. Nisi ullamco dolore ex labore elit excepteur in non amet nostrud aute consequat pariatur laboris. Quis eiusmod sint aliquip nisi anim anim voluptate sunt duis.</p>

<h2>Rubrik hå-två med H3</h2>
<h3>Rubrik direkt inpå</h3>
<p>Laboris deserunt aliquip proident deserunt qui non aliquip voluptate. Qui est consequat veniam do. Reprehenderit qui adipisicing laboris tempor sunt voluptate consectetur ipsum laboris quis commodo ut. Adipisicing labore magna velit duis sunt commodo duis ullamco pariatur Lorem voluptate laborum in. Officia proident deserunt proident pariatur voluptate pariatur. Pariatur excepteur tempor magna consequat occaecat. Aliqua Lorem ad proident cillum amet do dolor.</p>

<h3>TODO</h3>
<ul>
    <li>Hantera avstånd mellan rubriker när dom ligger direkt under varandra</li>
</ul>

<h1>Lorem ipsum dolor.</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore odit nihil minima consequatur enim quisquam, reiciendis, incidunt animi dignissimos totam ad dolores fuga, eligendi facere laudantium cumque vel! Aut, ducimus.</p>

<h1>Lorem ipsum dolor sit.</h1>

<h2>Lorem ipsum dolor.</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore odit nihil minima consequatur enim quisquam, reiciendis, incidunt animi dignissimos totam ad dolores fuga, eligendi facere laudantium cumque vel! Aut, ducimus.</p>

<h2>Lorem ipsum dolor sit.</h2>
<h3>Lorem ipsum dolor sit.</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus incidunt neque nisi iusto repellendus saepe dolore, enim minima perferendis tempore, natus eveniet, mollitia officia odit cupiditate sequi ea laboriosam laudantium minus necessitatibus obcaecati id corporis aliquam nostrum! Architecto voluptatum sit quas, impedit voluptate, voluptates minus dolorum autem! Qui dicta aut eligendi excepturi. Vel aut sapiente, velit esse, iste distinctio ex totam facilis neque, dignissimos fuga? Modi quaerat atque adipisci beatae totam id nesciunt eius facilis enim perferendis, deleniti nostrum ipsum, vero quisquam consectetur distinctio. Quia quae voluptatibus sint ab aliquid facere a? Porro veritatis, laboriosam vero quis qui, quibusdam aliquam!</p>

<h2>Lorem ipsum dolor sit.</h2>
<h3>Lorem ipsum dolor sit.</h3>
<h4>Lorem ipsum dolor sit.</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque vitae debitis, adipisci natus, accusamus alias nulla aspernatur ipsam reprehenderit nostrum praesentium earum deserunt saepe soluta necessitatibus odit, delectus quisquam quod tempora rerum a, libero quidem numquam doloribus. Quis laborum, nam. Inventore corrupti aliquid tempore, sed quae totam eveniet suscipit quaerat, culpa rem voluptate dolorum veritatis modi. Obcaecati quis laudantium, voluptatibus illum delectus non perspiciatis explicabo, ducimus, consequuntur ratione repellendus magni, voluptatem odit neque quae. Numquam dolores, eum sint quod similique at, facilis, praesentium possimus doloribus veniam architecto recusandae rem ipsam! Sed accusamus laborum voluptate beatae, et in dolore, tempore nobis sapiente laudantium ad rerum cumque cupiditate ex, perspiciatis, officia deserunt. Temporibus dolorem tempora deleniti pariatur eius suscipit sapiente numquam, facere quas quia dolore praesentium inventore nobis, atque illo quidem libero ipsum. Recusandae amet, commodi cum voluptate blanditiis officiis temporibus eos doloremque optio ad neque provident nisi voluptatum ipsam explicabo totam quis a vero maxime rerum tempora dolorem. Aspernatur, doloribus. Ad assumenda provident blanditiis quaerat rerum, repellendus eos vel ducimus quidem id expedita aliquam! Id soluta dolore sit perferendis nostrum saepe, praesentium nam, amet in optio quasi incidunt, cum esse maxime. Suscipit hic esse similique unde nemo, ut quas recusandae expedita dolore sapiente blanditiis facere aliquam quibusdam ex est odio facilis at neque voluptatibus praesentium earum dolor! Ullam id porro architecto, nostrum ducimus et odio? Aliquam cupiditate ipsa, magnam, rerum ut harum quos maiores molestiae quae, non odio minus quod temporibus doloribus recusandae dolorum itaque saepe obcaecati animi ab quaerat error, placeat nostrum eveniet. Perferendis similique consequatur non libero molestias reprehenderit ratione repudiandae blanditiis? Molestias maiores in animi delectus assumenda hic fugiat nihil quibusdam reprehenderit, dolore asperiores minus facere maxime perspiciatis rem repellat aspernatur repudiandae labore porro ipsum veniam et quas odio nisi. Eaque assumenda temporibus ex deserunt asperiores voluptate, vero.</p>
<h4>Lorem ipsum dolor sit.</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque vitae debitis, adipisci natus, accusamus alias nulla aspernatur ipsam reprehenderit nostrum praesentium earum deserunt saepe soluta necessitatibus odit, delectus quisquam quod tempora rerum a, libero quidem numquam doloribus. Quis laborum, nam. Inventore corrupti aliquid tempore, sed quae totam eveniet suscipit quaerat, culpa rem voluptate dolorum veritatis modi. Obcaecati quis laudantium, voluptatibus illum delectus non perspiciatis explicabo, ducimus, consequuntur ratione repellendus magni, voluptatem odit neque quae. Numquam dolores, eum sint quod similique at, facilis, praesentium possimus doloribus veniam architecto recusandae rem ipsam! Sed accusamus laborum voluptate beatae, et in dolore, tempore nobis sapiente laudantium ad rerum cumque cupiditate ex, perspiciatis, officia deserunt. Temporibus dolorem tempora deleniti pariatur eius suscipit sapiente numquam, facere quas quia dolore praesentium inventore nobis, atque illo quidem libero ipsum. Recusandae amet, commodi cum voluptate blanditiis officiis temporibus eos doloremque optio ad neque provident nisi voluptatum ipsam explicabo totam quis a vero maxime rerum tempora dolorem. Aspernatur, doloribus. Ad assumenda provident blanditiis quaerat rerum, repellendus eos vel ducimus quidem id expedita aliquam! Id soluta dolore sit perferendis nostrum saepe, praesentium nam, amet in optio quasi incidunt, cum esse maxime. Suscipit hic esse similique unde nemo, ut quas recusandae expedita dolore sapiente blanditiis facere aliquam quibusdam ex est odio facilis at neque voluptatibus praesentium earum dolor! Ullam id porro architecto, nostrum ducimus et odio? Aliquam cupiditate ipsa, magnam, rerum ut harum quos maiores molestiae quae, non odio minus quod temporibus doloribus recusandae dolorum itaque saepe obcaecati animi ab quaerat error, placeat nostrum eveniet. Perferendis similique consequatur non libero molestias reprehenderit ratione repudiandae blanditiis? Molestias maiores in animi delectus assumenda hic fugiat nihil quibusdam reprehenderit, dolore asperiores minus facere maxime perspiciatis rem repellat aspernatur repudiandae labore porro ipsum veniam et quas odio nisi. Eaque assumenda temporibus ex deserunt asperiores voluptate, vero.</p>
