{{breadcrumbs breadcrumbsPath lang}}

<h1>Wells</h1>

<p>I tidigare versioner av Boostrap (och därmed även KTH-Style) så fanns typen well för kapsla in information och få den att stå ut lite extra. För att vara bakåtkompatibla låter vi denna finnas kvar.</p>

<div class="examples-container">
  <div data-examples-view="bakgrunder">
    <div class="well" data-example="mellan bakgrund">En ruta med informationstext</div>
    
    <div class="well well-sm" data-example="liten bakgrund">En mindre ruta med informationstext</div>
    
    <div class="well well-lg" data-example="stor bakgrund">En större ruta med informationstext</div>
  </div>
</div>
