// Icons are imported from fontello.com. The CSS import is handled by the module/package
// node-sass-css-importer (https://www.npmjs.com/package/node-sass-css-importer) which
// can import CSS into the SCSS file.

@import '../../fonts/fontello/css/kth-style-icons-codes';
@import '../variables/colors';

// Code between lines are taken from public/fonts/fontello/css/kth-style-icons.css
// This gives us the ability to tweak things.
//  -------------------------------

@font-face {
  font-family: 'kth-style-icons';
  src: url('../font/kth-style-icons.eot?89277740');
  src: url('../font/kth-style-icons.eot?89277740#iefix') format('embedded-opentype'),
       url('../font/kth-style-icons.woff2?89277740') format('woff2'),
       url('../font/kth-style-icons.woff?89277740') format('woff'),
       url('../font/kth-style-icons.ttf?89277740') format('truetype'),
       url('../font/kth-style-icons.svg?89277740#kth-style-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}


// Mixin to get style setup where we would like to use a fontello in another way than
// using the classes. Example: collapse.scss
@mixin kthStyleIconsFontSetup {
  //  Font smoothing. That was taken from TWBS
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  display: inline-block;
  font-family: 'kth-style-icons';
  font-style: normal;

  // For safety - reset parent styles, that can break glyph codes
  font-variant: normal;
  font-weight: normal;

  // fix buttons height, for twitter bootstrap
  line-height: 1em;

  margin-right: 1rem;

  speak: none;

  text-decoration: inherit;
  //width: 1em;
  //text-align: center;
  //opacity: .8;

  // For safety - reset parent styles, that can break glyph codes
  text-transform: none;

  // Animation center compensation - margins should be symmetric
  // remove if not needed

  //margin-left: .2em;

  //  you can be more comfortable with increased icons size */
  //  font-size: 120%;

  //  Uncomment for 3D effect
  //  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

//  -------------------------------

[class^='icon-'],
[class*=' icon-'] {
  &:before {
    @include kthStyleIconsFontSetup;
  }
}


// Override to color the icon blue by default
.icon-info-circled {
  &:before {
    @extend .icon-info-circled:before;
    color: $blue;
  }
}
.icon-canvas::before {
  //content: url('../img/kth-style/icons/binder-icon.svg');
  //content: url('../img/kth-style/icons/binder-icon-dark.svg');
  width: 1.3em;
  margin-right: .5em;
  vertical-align: bottom;
  content: url('../img/kth-style/icons/icon-from-canvas-blue.svg');
}

.icon-info-circled-1 {
  font-size: 1.5rem;
  padding: .5rem;
}
