@import '../variables/colors';
@import '../variables/fonts';

//  * * * * * * * * Headline style * * * * * * * * * 
body {
  font-size: $normalFontSize;
}

body,
button,
input,
select,
textarea {
  font-family: $sansSerif;
  line-height: 1.5;
}

h1 {
  font-size: $h1-fontSize;
  color: $darkBlack;
  font-weight: normal;
  font-family: $serif;
  line-height: $headers-line-height;

  @include h1
}

h2 {
  line-height: $headers-line-height;
  font-size: $h2-fontSize;
  font-weight: bold;

  @include h2
}

h3 {
  font-size: $h3-fontSize;
  font-weight: bold;

  @include h3
}

h4 {
  font-size: inherit;
  font-size: $h4-fontSize;
  color: $black;
  font-weight: bold;
  margin: 2rem 0 .5rem;
}

//  * * * * * * * * Text style * * * * * * * * * 
p {
  margin: 0 0 1.1em;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
  font-weight: bold;
  border-top: 2px solid $darkBlack;
  background: url('../static/img/kth-style/quotation-mark.png') 0 12px no-repeat transparent;
  color: $darkBlack;
  float: left;
  padding: 8px 0 0 50px;
  margin: 10px 20px 10px 0;
  min-height: 60px;
}

//  * * * * * * * * List style * * * * * * * 

ol {
  li {
    margin-bottom: 4px;
  }
}

ul {
  li {
    margin-bottom: 4px;
  }
}

//  * * * * * * * * Table style * * * * * * * 
table {
  margin: $spacing 0;
  width: 100%;
  padding: 0;
  background-color: $white;

  &.cke_dialog {
    tbody {
      tr {

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  thead {
    tr {
      th {
        border-bottom: 1px dotted $black;
        border-top: 1px dotted $black;
        color: $black;
        font-size: 1.5rem;
        padding: 5px;
        text-align: left;
        vertical-align: text-top;
      }
    }
  }

  tbody {
    tr {

      &:last-child {
        border-bottom: 1px dotted $black;

        &.cke_dialog_ui_hbox {
          border-bottom: 0;
        }
      }

      td {
        border-top: 1px dotted $gray;
        margin: 0;
        padding: 5px;
      }
    }
  }
}

//  * * * * * * * * Bootstrap override * * * * * * * 
.label {
  display: block;
  padding: 0;
  font-size: inherit;
  font-weight: bold;
  line-height: 1.6;
  color: #000;
  text-align: left;
  white-space: normal;
  vertical-align: top;
  border-radius: 0;
}

.glyphicon {
  color: $blue;
  cursor: pointer;
}

.table>thead {
  &:first-child>tr {
    &:first-child>th {
      border-top: 1px dotted $black;
    }
  }
}

.table>thead>tr>th {
  vertical-align: text-top;
  border-bottom: 1px dotted $black;
}

.table>thead>tr>td,
.table>thead>tr>th {
  padding: 5px;
  line-height: 1.5;
  vertical-align: text-top;
  border-top: 1px dotted $black;
}

.table>tbody>tr>td {
  border-top: 1px dotted $gray;
}

.table-responsive {
  border: 0;
}

//  * * * * * * * * Link style * * * * * * * * * 
a {
  color: $standardLinkColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $visitedLinkColor;
  }

  &:focus {
    outline: thin dotted;
  }

  &.secondary {
    color: $darkGray;

    &:hover {
      color: $standardLinkColor;
    }
  }

  &.btn {
    border: 1px solid transparent;
    border-radius: 0.3em;
    color: $white;
    cursor: pointer;
    font-weight: bold;
    line-height: 1.8;
    padding: 0 1.2em;
    text-align: center;
    margin-right: $spacing;

    &.btn-primary {
      background-color: $blue;

      &.disabled {
        background-color: $darkGray;
        opacity: 1;

        &:hover {
          background-color: $darkGray;
        }

        &:focus {
          box-shadow: 0;
          outline: 0;
        }
      }

      &:focus {
        box-shadow: 0 0 0.1em 0.2em $blue;
        outline: 0;
      }

      &:hover {
        background-color: $hoverBlue;
      }
    }

    &.btn-default {
      color: $black;
      background-color: $white;
      border: 1px solid $gray;

      &:hover {
        background-color: $hoverGray;
      }
    }

    &.btn-success {
      background-color: $green;

      &.disabled {
        background-color: $gray;
        pointer-events: none;

        &:hover {
          background-color: $gray;
          pointer-events: none;
          cursor: default;
        }
      }

      &:focus {
        box-shadow: 0 0 0.1em 0.2em $blue;
        outline: 0;
      }

      &:hover {
        background-color: $hoverGreen;
      }
    }

    &.btn-danger {
      background-color: $red;

      &.disabled {
        background-color: $gray;

        &:hover {
          background-color: $gray;
        }
      }

      &:focus {
        box-shadow: 0 0 0.1em 0.2em $lightBlue;
        outline: 0;
      }

      &:hover {
        background-color: $hoverRed;
      }
    }
  }
}

//  categroy / label / tag for (often) a single line of text.  The
// categorylabel itsel is an inline element, typically a single word.
.categorylabel {
  font-variant: small-caps;
  text-transform: lowercase;
}

.expandToContainerWidth {
  margin-right: -15px;
  margin-left: -15px;
}
