.breadcrumbs {
  color: #b9bbbd;
  line-height: 21px;
  padding: 0 0 10px;
  text-transform: uppercase;
  width: 85%;

  a {
    &:hover {
      color: #24a0d8;
      text-decoration: none;
    }

    &:active {
      color: #b9bbbd;
    }
  }

  .separator {
    color: #65656c;
  }

  .current {
    color: #b9bbbd;

    &:hover {
      color: #b9bbbd;
    }
  }
}
