.breadcrumbs {
  padding: 0 0 10px 0;
  width: 85%;
  text-transform: uppercase;
  color: #b9bbbd;
  line-height: 21px;

  a:hover {
    text-decoration: none;
    color: #24a0d8;;
  }

  a:active {
    color: #b9bbbd;
  }

  .separator {
    color: #65656c;
  }

  .current {
    color: #b9bbbd;

    &:hover {
      color: #b9bbbd;
    }
  }
}