// Variables and mixins for fonts.
//
// Variables should be created and used for everything that can be overridden in Bootstraps preStep.

@import './colors';
@import './sizes';

// Import of font Open Sans
@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,500,600);
$open-sans: 'Open Sans';

$serif: 'Georgia', 'garamond pro', garamond, 'times new roman', times, serif;
$sansSerif: $open-sans, Arial, 'Helvetica Neue', helvetica, sans-serif;

// Default font size is set to 14px.
$font-size-base: 0.875rem;

// Default copy text style.
$copyText-fontSize: $font-size-base !default; // 14px
$copyText-desktop-fontSize: 1.125rem !default; // 18px

// Default lead text style.
$lead-fontSize: 1.125rem !default; // 18px
$lead-desktop-fontSize: 1.375rem !default; // 22px

$special-element-fontSize: 1rem; // 16px

// Default headline font sizes.
$h1-fontSize: 1.75rem !default; // 28px
$h1-desktop-fontSize: 2.875rem !default; // 46px

$h2-fontSize: 1.625rem !default; // 26px
$h2-desktop-fontSize: 1.875rem !default; // 30px

$h3-fontSize: 1.375rem !default; // 22px
$h3-desktop-fontSize: 1.5rem !default; // 26px

$h4-fontSize: 1.25rem !default; // 20px

// Default headline styles.
@mixin h1 {
  font-family: $sansSerif;
  font-weight: 600;
  margin: 0 0 22px 0;
  padding: 0;
  color: $black;

  @media (min-width: 768px) {
    font-size: $h1-desktop-fontSize;
  }
}

@mixin h2 {
  font-family: $sansSerif;
  font-weight: 600;
  margin: 0 0 8px 0;
  color: $black;

  @media (min-width: 768px) {
    font-size: $h2-desktop-fontSize;
  }
}

@mixin h3 {
  font-family: $sansSerif;
  font-weight: 600;
  margin: 0 0 8px 0;
  color: $black;

  @media (min-width: 768px) {
    font-size: $h3-desktop-fontSize;
  }
}

@mixin h4 {
  font-family: $sansSerif;
  font-weight: 600;
  margin: 0 0 8px 0;
  color: $black;
}