// Variables and mixins for fonts.
//
// Variables should be created and used for everything that can be overridden in Bootstraps preStep.

@import './colors';
@import './sizes';

// Import of font Open Sans
@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,500,600);
$open-sans: 'Open Sans';

$serif: 'Georgia Regular', 'Georgia', 'garamond pro', garamond, 'times new roman', times, serif;
$sansSerif: $open-sans, Arial, 'Helvetica Neue', helvetica, sans-serif;

// Default font size is set to 14px.
$font-size-base: 0.875rem;

// Default copy text style.
$copyText-fontSize: $font-size-base !default; // 14px
$copyText-desktop-fontSize: $font-size-base * 1.214 !default; // 17px

// Default lead text style.
$lead-fontSize: $font-size-base * 1.286 !default; // 22px
$lead-desktop-fontSize: $font-size-base * 1.571 !default; // 18px

// Default headline font sizes.
$h1-fontSize: $font-size-base * 2 !default; // 28px
$h1-desktop-fontSize: $font-size-base * 3.286 !default; // 46px

$h2-fontSize: $font-size-base * 1.857 !default; // 26px
$h2-desktop-fontSize: $font-size-base * 2.143 !default; // 30px

$h3-fontSize: $font-size-base * 1.571 !default; // 22px
$h3-desktop-fontSize: $font-size-base * 1.857 !default; // 26px

$h4-fontSize: $font-size-base * 1.286 !default; // 18px