// Variables and mixins for fonts.
//
// Variables should be created and used for everything that can be overridden in Bootstraps preStep.

@import './colors';
@import './sizes';

// Import of font Open Sans
@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,500,600);
$open-sans: 'Open Sans';

$serif: 'Georgia Regular', 'Georgia', 'garamond pro', garamond, 'times new roman', times, serif;
$sansSerif: $open-sans, Arial, 'Helvetica Neue', helvetica, sans-serif;

// Default font size is set to 14px.
$font-size-base: 0.875rem; 

// Defauklt headline font sizes.
$h1-fontSize: $font-size-base * 2 !default; // 28px
$h1-desktop-fontSize: $font-size-base * 3.286 !default; // 46px

$h2-fontSize: $font-size-base * 1.857 !default; // 26px
$h2-desktop-fontSize: $font-size-base * 2.143 !default; // 30px

$h3-fontSize: $font-size-base * 1.571 !default; // 22px
$h3-desktop-fontSize: $font-size-base * 1.857 !default; // 26px

$h4-fontSize: $font-size-base * 1.286 !default; // 18px

// Default headline styles.
@mixin h1 {
  font-family: $sansSerif;
  font-weight: 600;
  margin: 0 0 35px 0;
  padding: 0;
  color: $black;

  @media (min-width: 768px) {
    font-size: $h1-desktop-fontSize;
  }
}

@mixin h2 {
  font-family: $sansSerif;
  font-weight: 600;
  margin: 0 0 20px 0;
  color: $black;

  @media (min-width: 768px) {
    font-size: $h2-desktop-fontSize;
  }
}

@mixin h3 {
  font-family: $sansSerif;
  font-weight: normal;
  margin: 0 0 20px 0;
  color: $black;

  @media (min-width: 768px) {
    font-size: $h3-desktop-fontSize;
  }
}

@mixin h4 {
  font-family: $sansSerif;
  font-weight: normal;
  margin: 0 0 20px 0;
  color: $black;
}

// Default lead text style.
$lead-fontSize: $font-size-base * 1.286 !default; // 22px
$lead-desktop-fontSize: $font-size-base * 1.571 !default; // 18px

.lead {
  font-family: $sansSerif;
  font-weight: normal;
  font-size: $lead-fontSize;
  line-height: 1.5;
  margin: 0 0 35px 0;

  @media (min-width: 768px) {
    font-size: $lead-desktop-fontSize;
  }
}

// Default copy text style.
$copyText-fontSize: $font-size-base !default; // 14px
$copyText-desktop-fontSize: $font-size-base * 1.214 !default; // 17px
.paragraphs {
  p {
    font-family: $serif;
    font-weight: normal;
    font-size: $copyText-fontSize;
    line-height: 1.88;
    margin: 0 0 45px 0;
    max-width: 730px;

    @media (min-width: 768px) {
      font-size: $copyText-desktop-fontSize;
    }
  }
}