@import "../variables/colors";
@import "../variables/fonts";

.modal {
  margin-top: 1rem;
  z-index: 10001;
  .modal-content {
    border: none;
  }
}

#saveSuccessfulModal {
  .modal-content {
    background-color: $infoGreen;
  }
}

#saveFailedModal {
  .modal-content {
    background-color: $infoRed;
  }
}

/* * * * Personal toolbar override for modal behaviour * * * */

@media only screen and (min-width: 1024px) {
  #kth-pmenu #menu-bar-wrapper {
    z-index: 40!important;
  }
}
