// *** kth colors ***********************************

// Blue
$blue: #24a0d8;
$lightBlue: #24a0d8;
$lightBlueGray: #e9f5fb;
$hoverBlue: #1d80ac;

// Green
$darkGreen: #98ad29;
$green: #b0c92b;
$greenHeading: #8b9f22;
$hoverGreen: #9eb426;
$lightGreen: #cddc77;
$successModalGreen: #dff0d8;

// Black
$darkBlack: #000000;
$black: #111111;
$lightBlack: #333333;

// Gray
$darkGray: #65656c;
$gray: #b9bbbd;
$lightGray: #e3e5e3;


// Red
$red: #e4363e;
$lightRed: #e4363e;
$hoverRed: #9d102d;
$failModalRed: #f2dede;

// Beige
$beige: #e3dcc0;

// White
$white: #ffffff;
$inputWhite: #fafafa;

//pink
$pink: #d85497;

//yellow
$yellow: #fab919;
$systemMessageYellow: #fff07e;

// *** Component colors *************************************

// Text
$textColorBold: $darkBlack;
$textColorLead: #333;
$textColorNormal: #333;
$textColorLink: $lightBlue;

// Page
$thickBorderColor: $blue;
$pageBorderColor: #333;
$pageColor: $white;

// Links
$standardLinkColor: $blue;
$linkArrowColor: $red;

// Tables
$tableHeaderBackgroundColor: $gray;
$tableBodyTextColor: $textColorNormal;
$tableOddRowBackgroundColor: $lightGray;
$tableEvenRowBackgroundColor: $white;

// News and Calendar
$newsBorderColor: $gray;
$newsHeaderColor: $green;
$calendarBorderColor: $gray;
$calendarHeaderColor: $green;

// List themes
$defaultThemeUnselectedListItemColor: $gray;
$defaultThemeSelectedListItemColor: $blue;
$grayThemeUnselectedListItemColor: $gray;
$grayThemeSelectedListItemColor: $darkGray;
$darkGrayThemeUnselectedListItemColor: $darkGray;
$darkGrayThemeSelectedListItemColor: $lightBlack;
