
// Boostrap Collapse / Panel headings / Rubriklister 

@import '../common/icons';
@import '../variables/colors';

@mixin iconCommon {
  font-size: 1.5rem;
  line-height: 1.2rem;
  margin-right: .5rem;
  text-decoration: none;
  vertical-align: middle;
}

.card {
  &.collapsible {
    .card-header {
      h4 {
        font-weight: 700;
        letter-spacing: $moreSpaceLetterSpacing;

        a {
          &[aria-expanded~='false'] {
            &:before {
              @extend .icon-up-open;
              @include kthStyleIconsFontSetup;
              @include iconCommon;
              animation: rotateUp .3s ease-in-out forwards;
              margin-right: 1rem;
              
              &:hover {
                text-decoration: none;
              }
            }
          }

          &[aria-expanded~='true'] {
            &:before {
              @extend .icon-down-open;
              @include kthStyleIconsFontSetup;
              @include iconCommon;
              animation: rotateDown .3s ease-in-out forwards;
              margin-right: 1rem;

              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    &.white {
      .card-header {
        background-color: $white;
      }

      a {
        color: $lightBlack;

        &::before {
          color: $lightBlack;
        }
      }
    }

    &.blue {
      .card-header {
        background-color: $lightBlue;
      }

      a {
        color: $white;

        &::before {
          color: $white;
        }
      }
    }

    @keyframes rotateDown {
      100% {
        transform: rotate(180deg);
        transform-origin: 50% 50%;
      }
    }

    @keyframes rotateUp {
      100% {
        transform: rotate(-180deg);
        transform-origin: 50% 50%;
      }
    }
  }
}
