@import '../variables/colors';
@import '../variables/fonts';

.modal {
  margin-top: 1rem;
  z-index: 10001;

  .modal-content {
    border: 0;
  }
}

#saveSuccessfulModal {
  .modal-content {
    background-color: $infoGreen;
  }
}

#saveFailedModal {
  .modal-content {
    background-color: $infoRed;
  }
}

.btn-info-modal {
  background: url('../img/kth-style/icons/modal-info.svg') no-repeat;
  background-color: transparent;
  background-size: contain;
  border: transparent;
  border-radius: 0.8em;
  width:1.7em;
  height: 1.7em;
  padding:0;
}
///* * * * Personal toolbar override for modal behaviour * * * */

@media only screen and (min-width: 1024px) {
  #kth-pmenu {
    #menu-bar-wrapper {
      z-index: 40 !important;
    }
  }
}
