
.icon-check:before { content: '\e802'; } /* '' */
.icon-down-open:before { content: '\e803'; } /* '' */
.icon-up-open:before { content: '\e804'; } /* '' */
.icon-plus-circled:before { content: '\e805'; } /* '' */
.icon-info-circled-1:before { content: '\e806'; } /* '' */
.icon-info-1:before { content: '\f129'; } /* '' */