@import '../../variables/sizes';
@import '../../variables/spacings';
@import '../../variables/fonts';

.breadcrumbs {
  color: $darkGrey;
  line-height: 21px;
  padding: 0 0 $spacing;
  width: 85%;

  a {
    &:hover {
      color: $blue;
      text-decoration: none;
    }

    &:active {
      color: $lightGrey;
    }
  }

  .separator {
    color: $grey;
  }

  .current {
    color: $lightGrey;

    &:hover {
      color: $lightGrey;
    }
  }
}
