@import '../../variables/colors';
@import '../../variables/sizes';
@import '../../variables/spacings';
@import '../../variables/fonts';

body {
  margin: 0;

  header {
    .container-fluid {
      .container {
        margin: 0 auto;
        max-width: 1228px;
        padding: $gutter 0 20px;

        @media (min-width: 992px) {
          padding: 20px 2* $gutter 20px;
        }

        .header-container {
          &__top {
            display: flex;
          }

          &__bottom {
            display: flex;
          }
        }

        .block {
          &.figure  {
            &.mainLogo {
              margin: 0;
              width: auto;
              margin: 0 $gutter 0 0;
              
              @media (min-width: 992px) {
                margin: 0 2 * $gutter 0 0;
              }
              
              img {
                &.figure-img {
                  margin-bottom: 0;
                  height: 50px;
                  max-width: 275px;
                  width: auto;
                  

                  @media (min-width: 576px) and (max-width: 991.98px) {
                    height: 64px;
                  }

                  @media (min-width: 992px) {
                    height: 75px;
                  }
                }
              }
              @media print {
                margin-left: 50px;
              }
            }
          }
        }

        .block {
          &.search {
            width: 100%;
            margin-top: $gutter;

            @media (min-width: 992px) {
              padding: 0;
              width: auto;
              z-index: 3;
              flex-grow: 1;
              margin: 0;
            }

            .search-widget-container {
              width: 100%;
            }
            @media print {
              display: none;
            }
          }
        }

        .block {
          &.list {
            &.links {
              &.secondaryMenu {
                display: none;
                margin: 0;

                @media (min-width: 992px) {
                  flex-grow: 1;
                  display: flex;
                  justify-content: flex-end;
                }

                ul {
                  list-style-type: none;
                  position: relative;
                  top: -7px; // To align secondary menu with top of the mainLogo 

                  li {
                    float: left;
                    margin-bottom: 0;
                    
                    &:not(:last-child) {
                      padding-right: $gutter;
                    }

                    &:nth-last-child(2) {
                      a {
                        border-right: 1px solid $borderGrey;
                        padding-right: $gutter;
                      }
                    }

                    a {
                      color: $black;
                      font-size: $copyText-fontSize;
                      font-family: $sansSerif;
                    }

                    a[hreflang]{
                      &:after { 
                        content: ""; 
                        padding-right: 2 * $spacing;
                        background: url("/img/kth-style/icons/globe.svg") no-repeat right;
                        background-size: 16px;
                      }
                    } 
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #gradientBorder {
    height: 3px;
    background-image: linear-gradient(to left, #005ea4, #5c98c4);

    @media (min-width: 992px) {
      height: 6px;
    }
  }
}
