@import '../../variables/colors';
@import '../../variables/sizes';
@import '../../variables/spacings';

#headerHr {
  margin-top: 0;
}

.header {
  clear: both;
  margin: 0;
  padding: 20px 0;
  position: relative;

  &:after {
    /* Clear fix for header block */
    clear: both;
    content: "";
    display: block;
  }

  .primaryHeader {
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: middle;

    .block {
      float: left;

      &.search {
        float: right;
        max-width: 45%;
        position: absolute;
        right: 0;
        text-align: right;
        top: 41px;
        width: 100%;
      }
    }
  }

  .secondaryHeader {
    float: right;
    position: absolute;
    right: 0;
    text-align: right;
    top: 16px;

    .blockItemSeparator {
      display: inline;
      float: left;
      padding: 0 5px;
    }

    .block {
      display: inline-block;

      &.link {
        a {
          color: $standardLinkColor;
        }
      }
    }
  }

  .block {
    margin: 0;
    padding: 0;
    position: relative;

    &.figure {
      &.mainLogo {
        .imageWrapper {
          img {
            height: auto;
            max-height: 70px;
            width: auto;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 976px) {
  .header {
    .primaryHeader {
      .block {
        &.search {
          max-width: 80%;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .header {
    .block {
      &.figure {
        &.mainLogo {
          .imageWrapper {
            img {
              margin-left: 5px;
              max-height: 40px;
            }
          }
        }
      }
    }

    .secondaryHeader {
      .block {
        &.siteName {
          border-right: 0 solid #b9bbbd;
          margin-right: 0;
          padding-right: 0;
        }
      }
    }

    .primaryHeader {
      .block {
        &.search {
          clear: both;
          float: none;
          max-width: 100%;
          padding-top: 10px;
          position: relative;
          right: auto;
          top: auto;
          width: 100%;
        }
      }
    }
  }
}

.header-hr {
  margin-bottom: 20px;
  margin-top: 70px;
  position: relative;
}

@media only screen and (max-width: 480px) {
  .header-hr {
    margin-top: 20px;
  }
}
