// KTH specific styling

// Default font size.
body {
  font-size: $font-size-base;

  @media (min-width: 768px) {
    font-size: $copyText-desktop-fontSize;
  }

  .container {
    &.main {
      max-width: $widePageWidth;
      margin: 0 auto; 
    }
  }
  .container, .container-fluid {
    padding: 0 $gutter; // Gutter should be the same in all break points.
  }
}

.lead {
  font-family: $sansSerif;
  font-weight: normal;
  font-size: $lead-fontSize;
  line-height: 1.5;
  margin: 0 0 22px 0;

  @media (min-width: 768px) {
    font-size: $lead-desktop-fontSize;
  }
}

.paragraphs {
  p {
    line-height: 1.6875;
    margin: 0 0 27px 0;
    max-width: 730px;
  }
}

table {
  font-size: $font-size-base;

  p {
    margin-bottom: 0;
  }
}

p {
  &.AlignLeft {
    text-align: left;
  }

  &.AlignCenter {
    text-align: center;
  }

  &.AlignRight {
    text-align: right;
  }

  &.AlignJustify {
    text-align: justify;
  }
}

a {
  &.skipToMainContent {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;

    &:focus, &:active {
      background-color: $white;
      color: $linkBlue;
      left: 0;
      top: 0;
      width: auto;
      height: auto;
      overflow: auto;
      padding: 5px;
      font-size: 1rem;
      z-index: 99999;
    }
  }
}

@import './common/focus';
