// KTH specific styling

@import './common/reset';

// Default headline styles.
@mixin h1 {
  font-family: $sansSerif;
  font-weight: 600;
  margin: 0 0 22px 0;
  padding: 0;
  color: $black;

  @media (min-width: 768px) {
    font-size: $h1-desktop-fontSize;
  }
}

@mixin h2 {
  font-family: $sansSerif;
  font-weight: 600;
  margin: 0 0 8px 0;
  color: $black;

  @media (min-width: 768px) {
    font-size: $h2-desktop-fontSize;
  }
}

@mixin h3 {
  font-family: $sansSerif;
  font-weight: normal;
  margin: 0 0 8px 0;
  color: $black;

  @media (min-width: 768px) {
    font-size: $h3-desktop-fontSize;
  }
}

@mixin h4 {
  font-family: $sansSerif;
  font-weight: normal;
  margin: 0 0 8px 0;
  color: $black;
}

// Default font size.
body {
  font-size: $font-size-base;

  @media (min-width: 768px) {
    font-size: $copyText-desktop-fontSize;
  }

  .container, .container-fluid {
    padding: 0 $gutter; // Gutter should be the same in all break points.
  }
}

.lead {
  font-family: $sansSerif;
  font-weight: normal;
  font-size: $lead-fontSize;
  line-height: 1.5;
  margin: 0 0 22px 0;

  @media (min-width: 768px) {
    font-size: $lead-desktop-fontSize;
  }
}

.paragraphs {
  p {
    font-family: $serif;
    font-weight: normal;
    line-height: 1.88;
    margin: 0 0 27px 0;
    max-width: 730px;
  }
}

h1 {
  @include h1();
}

h2 {
  @include h2();
}

h3 {
  @include h3();
}

h4 {
  @include h4();
}